<ion-view style="height:{{Height}}px;">

  <div class="notification-bubble" ng-click="scrollTopAndRefresh()" ng-show="showBubble">New Data <i class="icon ion-arrow-up-c"></i></div>

  <ion-content scroll="true" ng-cloak>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()" ng-if="!loading"></ion-refresher>
    <p class="no-content" ng-if="noContent">{{ 'NO_CONTENT_U' | translate }}</p>
    <div class="loader" ng-if="loading"><ion-spinner></ion-spinner></div>
    <div class="marginTop20"></div>
    <div class="wrapper-triple-card">
      <triple-card ng-repeat="item in items | filter: keyword" custom-class="$last ? 'padding-list last' : 'padding-list'"
            item1="item" resource1="resource" home-menu="false">
      </triple-card>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoad && !loading"></ion-infinite-scroll>
  </ion-content>
</ion-view>
