<ion-view style="height:{{Height}}px;">
  <ion-content scroll="true" ng-cloak>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()" ng-if="!loading"></ion-refresher>
    <p class="no-content" ng-if="noContent">{{ 'NO_CONTENT_U' | translate }}</p>
    <div class="loader" ng-if="loading"><ion-spinner></ion-spinner></div>

    <div ng-repeat="item in items | filter: keyword" style="display:inline;" class='media-item'>
      <video-card data="item" ng-if="item.type == 'video'"></video-card>
      <audio-card data="item" ng-if="item.type == 'audio'" theme="'pink'"></audio-card>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoad && !loading"></ion-infinite-scroll>
  </ion-content>
</ion-view>
