<div class="card audio-card">
  <div class="item item-text-wrap main-card">
    <div class="row">
      <div class="col-75 main-content">
        <div class="created-date">
          <span class="title-name"><date-locale date="data.publishDatetime"></date-locale></span>
        </div>
        <p>{{data.nameTh}}</p>
        <div class="timeago" am-time-ago="data.publishDatetime"></div>
      </div>
      <div class="col audio-box">
        <audio-player theme="theme" title="data.nameTh" audio="data.path"></audio-player>
      </div>
    </div>
  </div>
</div>
