<div class="audio-player">
  <img align="left" src="images/icons/icon-play-white.png" ng-if="!playing && (!theme || theme !== 'pink') " ng-click="play();$event.stopPropagation();">
  <img align="left" src="images/icons/icon-pause-white.png" ng-if="playing && (!theme || theme !== 'pink')" ng-click="pause();$event.stopPropagation();">
  <img align="left" src="images/icons/icon-play.png" ng-if="!playing && theme === 'pink'" ng-click="play();$event.stopPropagation();">
  <img align="left" src="images/icons/icon-pause.png" ng-if="playing && theme === 'pink'" ng-click="pause();$event.stopPropagation();">
  <div class="control" ng-if="!playing"></div>
  <div class="control" ng-if="playing"></div>
</div>
