<div class="card-with-badge">
  <div class="card">
    <div ng-class="{'item item-text-wrap status plus': symbol == '+', 
                    'item item-text-wrap status negative': symbol === '-',
                    'item item-text-wrap status equal': (symbol !== '+' && symbol !== '-')
                   }">
      <div class="detail">
        <i class="icon ion-arrow-up-c" ng-if="symbol == '+'"></i>
        <i class="icon ion-arrow-down-c" ng-if="symbol == '-'"></i>
        <i class="icon ion-arrow-left-c" ng-if="symbol == '+-'"></i>
        <i class="icon ion-arrow-right-c" ng-if="symbol == '+-'"></i> 
        {{content}}
      </div>
    </div>
  </div>
</div>