<div class="card-with-table">
  <span class="title">{{'OIL_PRICE_C' | translate }}</span>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap" style="padding: 4px;">
          <div class="oil-price">
            <div class="row ">
              <span class="oil-detail-title">{{'WEST_TEXAS_C' | translate }}</span>
            </div>
            <div class="row">
              <span class="oil-detail-subtitle">{{row2}}</span>
            </div>
            <div class="row">
              <span ng-class="{'oil-detail-status color-red': row3 < 0, 'oil-detail-status color-green': row3 > 0}">{{row3 > 0 ? '+' + row3 : row3}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="item item-text-wrap" style="padding: 4px;">
          <div class="oil-price">
            <div class="row">
              <span class="oil-detail-title">{{'BRENT_C' | translate }}</span>
            </div>
            <div class="row">
              <spab class="oil-detail-subtitle">{{row5}}</spab>
            </div>
            <div class="row">
              <span ng-class="{'oil-detail-status color-red': row6 < 0, 'oil-detail-status color-green': row6 > 0}">{{row6 > 0 ? '+' + row6 : row6}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="item item-text-wrap" style="padding: 4px;">
          <div class="oil-price">
            <div class="row">
              <span class="oil-detail-title">{{'DUBAI_C' | translate }}</span>
            </div>
            <div class="row">
              <span class="oil-detail-subtitle">{{row8}}</span>
            </div>
            <div class="row">
              <span ng-class="{'oil-detail-status color-red': row9 < 0, 'oil-detail-status color-green': row9 > 0}">{{row9 > 0 ? '+' + row9 : row9}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-desc">หมายเหตุ: ราคาดังกล่าวเป็นเพียงการประมาณการ ไม่ใช่ราคาซื้อขายจริง</div>
</div>