<ion-view style="height:{{Height}}px;">
  <ion-content scroll="true" ng-cloak>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <div style="text-align: right;"><button class="button button-clear" style="color: #387ef5;" ng-click="toggleFont()">Aa</button></div>
    <div class="zoom-{{fontSize}}">
      <single-card title="item.question" stripe="true" content="item.answer" ng-repeat="item in items | orderBy: 'id' "></single-card>
      <div class="detailHtml" style="padding:10px;" ng-bind-html="trust(items)"></div>
    </div>
  </ion-content>
</ion-view>