<!-- <div class="oil-price-card">
    <span class="title">{{'SG_OIL_PRICE_C' | translate }}</span>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="item item-text-wrap" style="padding: 5px;">
                    <div class="oil-price">
                        <div class="row">
                            <span class="oil-detail-title">{{'PETROL_OIL_C' | translate }}</span>
                        </div>
                        <div class="row">
                            <span class="oil-detail-subtitle">{{row2}}</span>
                        </div>
                        <div class="row">
                            <span ng-class="{'oil-detail-status color-red': row3 < 0, 'oil-detail-status color-green': row3 > 0}">{{row3}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="item item-text-wrap" style="padding: 5px;">
                    <div class="oil-price">
                        <div class="row ">
                            <span class="oil-detail-title">{{'FUEL_OIL_C' | translate }}</span>
                        </div>
                        <div class="row">
                            <span class="oil-detail-subtitle">{{row5}}</span>
                        </div>
                        <div class="row">
                            <span ng-class="{'oil-detail-status color-red': row6 < 0, 'oil-detail-status color-green': row6 > 0}">{{row6}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="margin-top: -15px;">
                <div class="item item-text-wrap" style="padding: 5px;">
                    <div class="oil-price">
                        <div class="row ">
                            <span class="oil-detail-title">{{'DIESEL_FUEL_C' | translate }}</span>
                        </div>
                        <div class="row">
                            <span class="oil-detail-subtitle">{{row8}}</span>
                        </div>
                        <div class="row">
                            <span ng-class="{'oil-detail-status color-red': row9 < 0, 'oil-detail-status color-green': row9 > 0}">{{row9}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-top: -15px;">
                <div class="item item-text-wrap" style="padding: 5px;">
                    <div class="oil-price">
                        <div class="row ">
                            <span class="oil-detail-title">{{'PARAFFIN_OIL_C' | translate }}</span>
                        </div>
                        <div class="row">
                            <span class="oil-detail-subtitle">{{row11}}</span>
                        </div>
                        <div class="row">
                            <span ng-class="{'oil-detail-status color-red': row12 < 0, 'oil-detail-status color-green': row12 > 0}">{{row12}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-desc">หมายเหตุ: ราคาดังกล่าวเป็นเพียงประมาณการ ไม่ใช่ราคาซื้อขายจริง</div>
</div> -->

<div class="oil-price-card header">
    <div class="title">
        <span>{{'RETAIL_PRICE' | translate}}</span>
    </div>
</div>
<div class="oil-direction-card" ng-if="row2">
  <div class="oil-type one">
    <div class="card sub-oil">
      <div class="oil-detail-title">{{'PETROL_OIL_C' | translate }}</div>
      <div class="oil-detail-subtitle">{{row2}}</div>
      <div ng-class="{'oil-detail-status color-red': row3 < 0, 'oil-detail-status color-green': row3 > 0}">{{row3}}</div>
    </div>
  </div>
  <div class="oil-type two">
    <div class="card sub-oil">
      <div class="oil-detail-title">{{'FUEL_OIL_C' | translate }}</div>
      <div class="oil-detail-subtitle">{{row5}}</div>
      <div ng-class="{'oil-detail-status color-red': row6 < 0, 'oil-detail-status color-green': row6 > 0}">{{row6}}</div>
    </div>
  </div>
  <div class="oil-type three">
    <div class="card sub-oil">
      <div class="oil-detail-title">{{'DIESEL_FUEL_C' | translate }}</div>
      <div class="oil-detail-subtitle">{{row8}}</div>
      <div ng-class="{'oil-detail-status color-red': row9 < 0, 'oil-detail-status color-green': row9 > 0}">{{row9}}</div>
    </div>
  </div>
  <div class="oil-type four">
    <div class="card sub-oil">
      <div class="oil-detail-title">{{'PARAFFIN_OIL_C' | translate }}</div>
      <div class="oil-detail-subtitle">{{row11}}</div>
      <div ng-class="{'oil-detail-status color-red': row12 < 0, 'oil-detail-status color-green': row12 > 0}">{{row12}}</div>
    </div>
  </div>
  <div class="footer-desc">หมายเหตุ: ราคาดังกล่าวเป็นเพียงประมาณการ ไม่ใช่ราคาซื้อขายจริง</div>
</div>