<div class="card video-card">
  <div class="item item-text-wrap main-card">
    <div class="created-date">
      <span class="title-name"><date-locale date="data.publishDatetime"></date-locale></span>
    </div>
    <img ng-src="{{linkVideo}}" ng-click="openWindow()" fallback-src="{{baseUrl + '/thaioil/logo.png'}}" loading-src="images/loading.gif">
    <!-- <img imageonload ng-src="http://img.youtube.com/vi/{{videoId}}/mqdefault.jpg" ng-hide="playVideo" ng-attr-id="{{videoId}}" ng-click="playVideo = true" fallback-src="{{baseUrl + '/thaioil/logo.png'}}" loading-src="images/loading.gif"> -->
    <!-- <video-player video-id="videoId" video="data.path" ng-if="playVideo"></video-player> -->
  </div>
  <div class="item item-divider item-text-wrap footer">
    <span ng-if="language == 'th'">{{data.nameTh}}</span>
    <span ng-if="language == 'en'">{{data.nameEn}}</span>
    <div class="timeago" am-time-ago="data.publishDatetime"></div>
  </div>
</div>
