.bar-positive {
  font-family: Montserrat,Kanit !important;
}
.icon-header-small {
  &:before {
    font-size: 24px !important;
  }
}
.content {
  padding: 1rem;
  background: $backgroundGrey;
}
.tabs-striped .tab-item.activated,
.tabs-striped .tab-item.active,
.tabs-striped .tab-item.tab-item-active {
  border-color: inherit;
}
body {
  font-family: Montserrat,Kanit !important;
  h1,
  h2,
  h3,
  h4,
  p,
  span {
    font-family: Montserrat,Kanit !important;
  }
}
.bar {
  &.bar-positive {
    background: $backgroundBar;
    border-color: $backgroundBar;
  }
}
.platform-android .filter-bar .filter-bar-positive .item-input-wrapper {
  background: $backgroundBar;
  // border-bottom: 2px solid #093f68;
  border-bottom: 1px solid #FFF;
}

.stackCard {
  background-color: white;
  word-wrap: break-word;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.9em 0 -0.5em #ffffff, 0 0.4em 0.1875em -0.25em rgba(0, 0, 0, 0.1);
}

.search-box{
  display: flex;
  justify-content: space-between;
}
.button.button-clear.ion-android-close.search-clear-button{
  color: black;
  font-size: 12px;
}
