.analysis-detail-page{

  background-color: $backgroundGrey;

  .header-section{
    position: relative;
    background-color:white;
    color:#333;
    line-height: 1.5;
    padding-bottom: 5px;
    .image-card{
      position: relative;
      .news-img.img{
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
      .overlay{
        background-color: black;
        opacity: 0.3;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }
    }
    .analysis-name{
      padding: 10px;
      font-size: $textNormal;
      font-weight: bold;
      color: $colorActiveTab;
    }
    .news-brief{
      padding-left: 12px;
      padding-right: 12px;
      text-align: left;
    }
    .news-brief-big{
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
      width: 250px;
      height: 20px;
      overflow: hidden;
      p.news-brief-big{
        word-wrap: break-word;
      }
    }
    .news-brief-small{
      text-align: left;
      margin-bottom: 0;
      padding-left: 12px;
      padding-right: 12px;
      width: 160px;
      height: 20px;
      overflow: hidden;
      line-height: 1.4;
      text-overflow: ellipsis;
    }
  }

  .zoom-14{
    .header-section p{
      font-size: 16px !important;
    }
    .detail, .weekly-section{
      font-size: 14px !important;
      line-height: 1.5em;
    }
    .table-detail, .table-header{
      font-size: 12px !important;
      line-height: 1.5em;
    }
  }
  .zoom-16{
    .header-section p{
      font-size: 18px !important;
    }
    .detail, .weekly-section{
      font-size: 16px !important;
      line-height: 1.5em;
    }
    .table-detail, .table-header{
      font-size: 14px !important;
      line-height: 1.5em;
    }
  }
  .zoom-18{
    .header-section p{
      font-size: 20px !important;
    }
    .detail, .weekly-section{
      font-size: 18px !important;
      line-height: 1.5em;
    }
    .table-detail, .table-header,{
      font-size: 16px !important;
      line-height: 1.5em;
    }
  }
  .zoom-20{
    .header-section p{
      font-size: 22px !important;
    }
    .detail, .weekly-section{
      font-size: 20px !important;
      line-height: 1.5em;
    }
    .table-detail, .table-header{
      font-size: 18px !important;
      line-height: 1.5em;
    }
  }

  .tab-section{
    display: flex;
    background-color: white;
    border-top : thick solid rgba(151, 151, 151, 0.2);
    border-top-width: 2px; 
    .tab{
      flex: 1;
      text-align: center;
      padding: 10px;
      color: gray;
    }
    .tab.active{
      color: #FFFFFF;
      border-bottom: 3px solid #0c5d9a;
      background-color: #0c5d9a;
    }
  }

  ul {
    padding: 1px 10px 1px 20px;
    list-style-type: circle;
  }

  .logo{
    margin-right: 10px;
    position: absolute;
    bottom: 2px;
    height: 25px;
    left: 10px;
    .img{
      height: 25px;
    }
  }

  .timestamp{
    font-size: $textTime;
    display: inline;
    position: absolute;
    bottom: 10px;
    left: 100px;
    color: lightgray;
  }

  .audio-player-header{
    position: absolute;
    right: 5px;
    bottom: 3px;
    .control{
      color: white;
    }
  }

  .weekly-section{
    padding: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
    background-color: none !important;

    a{
      color: #333;
      text-decoration: none;
    }
    a:hover{
      color: #333;
      text-decoration: none;
    }
    p, li{
      line-height: 1.5em;
    }

  }

  .prev-article{
    .title{
      color: #ed1a79;
      font-size: $textTitleName;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 10px;
      font-weight: bold;
    }
    .news-more{
      float: right;
      font-size: 10px;
      margin-top: -42px;
      margin-right: 10px;
      left: 0;
      color:#93a8ac;
    }
    .list{
      padding: 0;
    }
    .item{
      height: 120px;

      .item-text-wrap-2 {
        display: inline-block; /* Fallback for non-webkit */
        display: -webkit-box;
        margin: 0 auto;
        font-size: $textTitleName;
        line-height: 1.5;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .item-text-wrap-3 {
        display: inline-block; /* Fallback for non-webkit */
        display: -webkit-box;
        margin: 0 auto;
        font-size: $textTitleName;
        line-height: 1.5;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .read-more{
        padding-top: 5px;
        position: absolute;
        bottom: 5px;
      }
      .timestamp{
        float:right;
      }
    }
  }
  .footer-desc{
    margin-left: 15px;
    margin-right: 10px;
    margin-top:-10px;
    color: #93a8ac;
    font-size: 12px;
  }

  .summaryContent{
    padding: 10px;
  }
}