// .filter-page {
//   .button-icon {
//     &:before {
//       font-size: 24px !important;
//     }
//   }
// }
.filterContent {
    .scroll {
        width: 100%;
        height: 100%;
    }
    .description {
        font-size: 10px;
        color: $textColorGrey;
        margin: 10px;
    }
    .filter-type-list {
        .checkbox input:checked+.checkbox-icon:before,
        .checkbox input:checked:before {
            border-color: $colorActiveTab;
            background-color: $colorActiveTab;
        }
        .checkbox .checkbox-icon:before,
        .checkbox input:before {
            border-color: $colorActiveTab; // background-color: $colorActiveTab;
        }
    }
    .agency {
        width: 100%;
        height: 100%; // margin: 10px 10px 70px;
        padding: 10px;
        .agency-repeat {
            width: 50%;
            display: inline-block;
            height: 24%;
            .div-child {
                position: absolute;
                top: 54%;
                left: 50%;
                transform: translate(-50%, -50%);
                img {
                    height: auto;
                    width: auto;
                    max-width: 110px;
                    max-height: 20px; // position: absolute;
                    // top: 50%;
                    // left: 50%;
                }
            }
            .card.bangkokpost-logo-style {
                background-size: 65%;
                img {
                    width: 65%;
                }
            }
            .card {
                margin: 2px 4px;
                position: relative;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 50%;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 12px;
                }
                .item {
                    border-width: 0;
                    float: right;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    .checkbox {
                        float: right;
                        position: relative;
                        top: 5px;
                        left: 15px;
                        // margin: -90% -5px; 
                        // position: absolute;
                        // top: 16px;
                        // right: 0 !important;
                        // width: 40px;
                    }
                    .checkbox input:checked+.checkbox-icon:before,
                    .checkbox input:checked:before {
                        border-color: $colorActiveTab;
                        background-color: $colorActiveTab;
                    }
                    .checkbox .checkbox-icon:before,
                    .checkbox input:before {
                        border-color: $colorActiveTab; // background-color: $colorActiveTab;
                    }
                }
                .thaioil-logo-style {
                    background-size: 100%; // width: 100%;
                }
                img {
                    width: 50%;
                    height: 50%;
                    position: absolute;
                    left: 25%;
                    top: 25%;
                    object-fit: contain;
                }
                .ptt-logo-style {
                    width: 50%;
                    height: 50%;
                    position: absolute;
                    left: 25%;
                    top: 25%;
                    object-fit: contain;
                }
                .caltax-logo-style {
                    width: 75%;
                    height: 75%;
                    top: 12.5%;
                    left: 12.5%;
                }
                .susco-logo-style {
                    background-size: 45%;
                    width: 45%;
                }
                .esso-logo-style {
                    background-size: 65%;
                    width: 50%;
                }
            }
        }
    }
}