.homepage {
  .list {
    margin-bottom: 0;
  }
  .latest-news-list {
    padding: 0;
    margin:0;
  }
  
  .header{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
    width: 100%;
    .title{
      position: relative;
      color: #ED1A79;
      font-size: $textTitleName;
      top: 18px;
      left: 12px;
      padding-bottom: 15px;
      font-weight: bold;
      text-transform: uppercase; 
    }
    .desc{
      font-size: 12px;
      // padding-left: 5px;
      color:#4f5256;
      opacity: 0.5;
    }
    .news-more, .read-more{
      float: right;
      font-size: 10px;
      margin-top: 19px;
      margin-right: 10px;
      left: 0;
      color:#93a8ac;
    }
  }

  .bar {
    &.bar-positive {
      background: $backgroundBar;
      border-color: $backgroundBar;
    }
    // .buttons {
    //   width: 30px;
    //   padding: 0px;
    //   margin: 5px;
    //   .iconGasStation {
    //     background-repeat: no-repeat;
    //     background-position: 50%;
    //     height: 100%;
    //     width: 100%;
    //     background-image: url('../images/icons/icon-petrol-white.png');
    //     background-size: contain;
    //   }
    // }
  }
  .bar-oil-price {
    color: $backgroundBar;
    padding-left: 15px;
    padding-right: 15px;
    span {
      margin: auto 5px auto 0;
      font-weight: 900;
      font-size: small;
      &.oilName {}
      &.oilPrice {
        color: #000;
        font-size: large;
      }
      &.oilDetail {
        color: $red;
        margin-left: 5px;
      }
    }
    .icon {
      &:before {
        font-size: x-large;
        margin: 5px;
      }
      &.ion-ios-arrow-thin-down {
        color: $red;
      }
    }
  }
  .home-content {
    .stackCard {
      .item {
        .row {
          padding: 0;
          .col {
            padding: 0;
          }
        }
        .contentCard {
          // margin-top: 10px;
          font-size: small;
          .disable-user-behavior {
            width: 100%;
          }
        }
      }
    }
  }
  .recent-news.card{
    .item.news-card{
      border-bottom:1px solid;
    }
  }

  .breakingnewsNoti{
    background-color: #ED1A79;
    .title-breaking-news{
       padding:3%;
       height:3%;
       color: #FFF;
    }
  }

}


.news-big-card {
  padding: 8px;
  .item-image {
    position: relative;
    .description-box{
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.7;
      width: 100%;
      background-color: black;
      .name {
        font-size: $textTitleName;
        padding: 5px;
        color: white;
        text-align: left;
      }
    }
    
  }
}

