.icon_gps {
    position: absolute;
    bottom: 30px;
    left: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    align-items: center;
    -moz-box-shadow: 0.5px 0.5px 1px 1px #ccc;
    -webkit-box-shadow: 0.5px 0.5px 1px 1px #ccc;
    box-shadow: 0.5px 0.5px 1px 1px #ccc;
    img {
        width: 25px;
        height: 25px;
    }
}

.searchMap {
    height: 40px;
    border: 0px;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
}

.single-card.mapAlert {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 64px;
}