.calendar-item {
  // height: 70px;
  text-align: left;
  padding: 0 5px;
  .verticalStrip{
    border-left : thick solid;
    border-left-width: 7px; 
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  .header{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    .title.stripe {
      font-size: $textTitleName;
      font-weight: bold;
      color: $colorActiveTab;
      border-top: solid 4px $colorActiveTab;
      padding-top:10px;
      margin-left: 10px;
    }
    .desc{
      font-size: $textFooter;
      color: gray;
      padding-top: 10px;
      padding-right: 10px;
    }

  }
  .no-recent-calendar{
    font-size: $textTitleName;
    padding: 8px 11px;
  }

  .marketCard{
    display: flex;
    flex-direction: column;
    padding: 0 8px 0 8px;
    border-left : thick solid;
    border-left-width: 10px; 
    .row-header{
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      //height: 40px;
      .index-name{
        align-self: flex-start;
        font-size: $textTitleName;
        flex: 2;
        .date{
          color: $backgroundBar;
        }
      }
      .index-value{
        padding-left: 8px;
        width: 20%;
        flex: 1;
      }
    }
    .row-detail{
      font-size: x-small;
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5px;
    }
  }


  p {
    color: black;
    font-size: $textNormal;
    // .actual{
    //   font-size: 10px;
    //   color: gray;
    // }
  }
  .footer{
    font-size: $textFooter;
    color: gray;
    background-color: white;
  }

  .value{
    font-size: $textNormal;
  }
  .right {
    text-align: right;
  }
  .textGray{
    color :$colorTextTab;
    font-size: $textFooter;
  }
  .textGreen{
    color : $green;
    font-size: $textFooter;
  }
  .textRed{
    color : $red;
    font-size: $textFooter;
  }
  .textBlue{
    color: $backgroundBar;
    font-size: $textFooter;
  }
  .textBlack{
    color: black;
    font-size: $textFooter;
  }

  .flag{
    position: relative;
    float: right;
    // margin-top:-5px;
    height: 21px; 
    width: 31px;
  }

}
.slider-slide {
  background: $backgroundGrey !important;
}

.gas-station {
  margin: 10px 10px 100px 10px;
  .gas-repeat {
    width: 49%;
    display: inline-block;
    .div-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        height: auto;
        width: auto;
        max-width: 80px;
        max-height: 100px;
      }
    }
    .card {
      margin: 2px 4px;
      position: relative;
      padding: 48% 0;
    }
  }
}
