.more-page {
  .spinner svg {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #444;
  }
  .list {
    .item-avatar {
      min-height: 0;
      padding-left: 54px;
      img {
        max-width: 25px;
        max-height: 25px;
        border-radius: 0;
        width: auto;
        height: auto;
      }
      .ion-easel{
        font-size: 25px;
      }
      p{
        font-size: $textNormal;
      }
    }
    .item {
      .icon {
        &:before {
          color: $colorActiveTab;
        }
      }
      .icon.ion-easel {
        &:before{
          font-size: 25px !important;
        }
      }
      .icon.ion-pricetags {
        &:before{
          font-size: 25px !important;
        }
      }
    }
  }
  .disclaimer{
    text-align: center;
    color: $textColorGrey;
    font-size: 12px;
  }
}
