.newsDetailContent {
  .source-from{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    color: $textColorGrey;
    font-size: smaller;

  }
  .content{
    a{
      color: #333;
      text-decoration: none;
    }
    a:hover{
      color: #333;
      text-decoration: none;
    }
  }
  background: $backgroundTab;
  .detail {
    margin-bottom: 10px;
    h3 {
      margin: 0 10px;
    }
    p {
      &.date {
        color: $textColorGrey;
        margin: 0 15px;
        font-size: $textTime;
        text-align: right;
      }
      &.content {
        background: none;
        padding: 0;
        margin: 0 15px;
        line-height: 1.5em;
        &.zoom-14{
          font-size: 14px;
        }
        &.zoom-16{
          font-size: 16px;
        }
        &.zoom-18{
          font-size: 18px;
        }
        &.zoom-20{
          font-size: 20px;
        }
      }

    }
    img {
      max-width: 100%;
      height: auto;
      margin: 10px 0;
    }
  }
  .moreNews {
    display: inline-block;
    width: 100%;
    .list .item.item-text-wrap.news-card{
      width: 100%;
      border-top: 1px solid lightgray;
    }
    .headerMoreNews {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
      p {
        color: $colorActiveTab;
        font-size: $textTitleName;
      }
    }
    .spinner-center{
      text-align: center;
    }
    .item {
    }
  }
}
