.news-page {
  // .buttons {
  //   .button-icon {
  //     &:before {
  //       font-size: 24px !important;
  //     }
  //   }
  // }
}
ion-content {
  background: $backgroundGrey;
}

.header{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
.title{
  position: relative;
  color: #ED1A79;
  font-size: $textTitleName;
  top: 10px;
  left: 12px;
  padding-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase; 
  }
}