.promotionDetailContent {
    .detail {
        .header {
            display: block;
            background-color: #3d3d3d;
            .row {
                padding: 15px 10px;
                h3 {
                    width: 100%;
                    margin: 0px;
                    color: #fff;
                }
            }
            .thumbnail {
                img {
                    width: 100%;
                    height: auto;
                }
                .button {
                    position: absolute;
                    color: #fff;
                    margin-left: 10px;
                }
            }
        }
        .row {
            p {
                font-size: 12px;
                padding: 5px 10px;
                .icon {
                    font-size: 16px;
                }
            }
        }
        .date {
            margin: 0px 10px;
        }
        .content {
            padding: 10px;
            img {
                width: 100%;
            }
        }
        ul {
            list-style: initial;
            padding-left: 30px;
            li {
                list-style: disc;
            }
        }
    }
}