.promotionSlide {
    .slider-slide {
        height: auto !important;
        display: none;
    }
    .slider {
        height: 0px;
    }
    .contentPromotion {
        top: 50px !important;
    }
}