.card-promotion {
    padding: 8px;
    background-color: white;
    box-shadow: 0 1px 1px #aaaaaa;
    .item-image {
        position: relative;
        img {
            width: 100%;
        }
    }
    .description-box {
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // opacity: 0.7;
        // width: 100%;
        // background-color: black;
        // padding: 5px;
        .name {
            font-size: 15px;
            // color: white;
            text-align: left;
        }
    }
}