.retail-price-landscape{

  .scroll{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    height: 100%;
  }
  div.row.oil-header{
    padding-top: 10px; //avoid IOS status bar
    padding-bottom: 10px;
  }
  .scroll-content{
    height:100%;
  }
  .time{
    color: $colorActiveTab;
    font-size: 10px;
    line-height: 1.0;
  }
  .desc{
    font-size: 8px;
    line-height: 1;
    color: $textColorGrey;
    margin:0;
  }
  
  @media only screen and (min-device-width: 768px){
    .desc{
      font-size: 12px;
    }
  }

  .row:nth-child(even){
    background-color: $backgroundGrey;
  }
  .row:nth-child(odd){
    background-color: white;
  }
  .row{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    justify-content: center;
  }
  .col{
    padding-left: 10px;
  }
  .oil-price{
    text-align: center;
  }
  .row.header{
    -webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 2;         /* OLD - Firefox 19- */
    -webkit-flex: 2;          /* Chrome */
    -ms-flex: 2;              /* IE 10 */
    flex: 2;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
  .row{
    padding: 0;
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .oil-logo{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    justify-content: center;
  }




}
