.retail-price-portrait{
    .scroll{
      height: 100%;                             
    }
    .list.card{
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-direction: column; 
      height: 90%;

      .header-card{
        flex: 2;
        // padding-bottom: 5px;
        position: relative;
        min-height: 80px;
        .header {
          margin-top: -26px;
          padding: 0;
        }
        .logo-desc p{
          font-size: 10px;
          line-height: 1;
          width: 85%;
        }
        .title{
          border-top: solid 4px #ED1A79;
          display: inline-block;
          padding-top: 3px;
          color: #ED1A79;
          font-size: small;
          font-weight: bold;
        }
        img{
            position: absolute;
            width: 15%;
            top: 50%;
            transform: translate(0, -50%);
            right: 10px;
          }
      }
    }
    
    .desc.footer{
      margin-left: 16px;
      color: gray;
    }
    .retail-price{
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		  display: -ms-flexbox;      /* TWEENER - IE 10 */
		  display: -webkit-flex;     /* NEW - Chrome */
		  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: space-between;
      flex: 1;
      align-items: center;
    }
    .retail-price:nth-child(odd), .retail-price.item.activated:nth-child(odd){
      background-color: $backgroundGrey !important;
    }
    .retail-price.item.activated{
      border-color: #ddd;
    }

}
