.setting-content {
  .divider {
    color: $textColorGrey;
    margin: 15px 15px 0;
    font-size: 10px;
  }
  .selectLanguage {
    .activated{
      background-color: white;
    }
    .item {
      padding: 0;
      .item-radio {
        input {
          &:checked {
            + {
              .radio-content {
                .item-content {
                  background: none;
                }
                .radio-icon{
                  padding-top: 10px;
                  &:before{
                    color: $colorActiveTab;
                  }
                }
              }
            }
          }
        }
        .radio-content{
          .item-content{
            img{
              margin-right: 10px;
              width: 10%;
              max-width: 30px;
            }
          }
        }
      }
    }
  }
  .selectIP {
    .activated{
      background-color: white;
    }
    .item {
      padding: 0;
      .item-radio {
        input {
          &:checked {
            + {
              .radio-content {
                .item-content {
                  background: none;
                }
                .radio-icon{
                  padding-top: 10px;
                  &:before{
                    color: $colorActiveTab;
                  }
                }
              }
            }
          }
        }
        .radio-content{
          .item-content{
            img{
              margin-right: 10px;
              width: 10%;
            }
          }
        }
      }
    }
  }
  .list-inset {
    margin: 0 15px;
  }
  .list {
    .item {
      .toggle {
        input {
          &:checked {
            + {
              .track {
                background-color: $colorActiveTab;
                border-color: $colorActiveTab;
              }
            }
          }
        }
      }
      .icon{
        &:before{
          color:$colorActiveTab;
        }
      }
    }
  }
}
.ion-checkmark:before {
  font-size: 18px;
}
.more-page .list .item .icon:before {
  font-size: 18px !important;
}
.item-toggle .toggle {
  top: 12px;
}
.toggle {
  .handle {
    width: 23px;
    height: 23px;
    border-radius: 23px;
  }
  .track {
    width: 46px;
    height: 27px;
  }
}
