.tabs {
  border-top: 1px solid #E3E3E3 !important;
  background-image: none;
  background-color: $backgroundTab;
  .tab-title {
    color: $gray;
  }
  .tab-item-active {
    .tab-title {
      color: $backgroundBar;
    }
  }
  .tab-item {
    padding: 5px;
    .icon {
      margin-bottom: 2px;
    }
    .icon.home {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 60%;
      background-image: url('../images/menus/home.png');
      background-size: contain;
    }
    .icon.homeActive {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 60%;
      background-image: url('../images/menus/home-active.png');
      background-size: contain;
    }
    .icon.market {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 60%;
      background-image: url('../images/menus/market.png');
      background-size: contain;
    }
    .icon.marketActive {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 60%;
      background-image: url('../images/menus/market-active.png');
      background-size: contain;
    }
    .icon.analysis {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 60%;
      background-image: url('../images/menus/analysis.png');
      background-size: contain;
    }
    .icon.analysisActive {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 60%;
      background-image: url('../images/menus/analysis-active.png');
      background-size: contain;
    }
    .icon.news {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 60%;
      background-image: url('../images/menus/news.png');
      background-size: contain;
    }
    .icon.newsActive {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 60%;
      background-image: url('../images/menus/news-active.png');
      background-size: contain;
    }
    .icon.more {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 45%;
      margin: 2px;
      margin-bottom: 4px;
      background-image: url('../images/menus/more.png');
      background-size: contain;
      margin-bottom: 5px;
    }
    .icon.moreActive {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 45%;
      margin: 2px;
      margin-bottom: 5px;
      background-image: url('../images/menus/more-active.png');
      background-size: contain;
    }
    .icon.petrol {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 70%;
      margin-bottom: -1px;
      background-image: url('../images/menus/petrol.png');
      background-size: contain;
    }
    .icon.petrolActive {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 70%;
      margin-bottom: -1px;
      background-image: url('../images/menus/petrol-active.png');
      background-size: contain;
    }
  }
}
