
$footer-height: 8%;
.tutorial-page{

  .slider-pager-page{
    .icon.ion-record{
      font-size: 90%;
    }
  }
  .slider-pager{
    height: $footer-height;
    position: absolute;
    bottom: 0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    align-items: center;

  }

  .tutorial{
      padding-top: 10%;
      background-color: #0c5d9a;
      width: 100%;
      height: 100%;
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-flow: row wrap;
      align-items: center;
      .logo{
        width: 100%;
        text-align: center;
        img{
            max-width: 10%;
        }

      }
      .header{
        width:100%;
        color: white;
        text-align: center;
        font-weight: bold;
        justify-content: center;
        // font-size: 1.2em;
        // line-height: 1.5em;
      }
      .mobile{
        width:100%;
        text-align: center;
        img{
          max-width: 80%;
        }
      }
      // .footer{
      //   width: 100%;
      //   height: 10%;
      //   position: fixed;
      //   bottom: 0;
      //   background-color: white;
      // }

  }
  .skip{
    color: $colorActiveTab;
    font-weight: bold;
    height: $footer-height;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    background-color: white;
    span{
      z-index: 3;
    }
  }
}
