.welcomeModal {
    background-color: white;
    .scroll {
        height: 100%;
    }
    .button {
        position: absolute;
        right: 10px;
        z-index: 99;
        background: $backgroundBar;
        color: #fff;
        padding: 0px;
        line-height: 1;
        min-height: 28px;
        top: 20px;
        width: 28px;
        border-radius: 28px;
        &:before {
            line-height: 18px;
            font-size: 14px;
        }
    }
    img {
        height: auto;
        width: 100%;
    }
}

.slide {
    width: 100%;
    height: 100%;
    .slide-img {
        width: 100%;
        height: 100%;
    }
}

.swiper-container-horizontal>.swiper-pagination {
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}