.audio-card{
  
  .timeago{
    font-size: $textTime;
    color: gray;
    text-align: right;
  }

  .item{
    padding: 0;
  }
  .title-name{
    font-size: $textTitleName;
    font-weight: bold;
  }
  
  .row, .col{
    padding: 0;
  }
  .timestamp{
    padding-right: 5spx;
  }

  .main-content{
    padding: 15px;
  }

  p{
    display: inline-block; /* Fallback for non-webkit */
    display: -webkit-box;
    margin: 0 auto;
    font-size: $textNormal;
    color: black;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .audio-box{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    border-left: 1px solid lightgray;
    audio-player{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}
