.audio-player{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  flex-flow: column;
  align-items: center;
  width:40px !important;
  height:40px !important;
  img {
    width:40px !important;
    height:40px !important;
    border-radius: 40px;
  }
  .control{
    font-size: $textAudio;
    color: gray;
  }
}
