.card-with-table{
  position: relative;
  padding: 0;

  .title{
    position: relative;
    color: #ED1A79;
    font-size: $textTitleName;
    top: 12px;
    left: 12px;
    font-weight: bold;
    text-transform: uppercase; 
  }
  .row{
    .col{
      display: flex;
      .card{
        flex: 1;
        margin: 10px 0 5px 0;
        .oil-price{
          text-align: center;
          .row{
            justify-content: center;
            .oil-detail-title{
              color: #0c5d9a;
              font-size: $textNormal;
            }
            .oil-detail-subtitle{
              color: #333;
              font-size: $textNormal;
            }
            .oil-detail-status{
              font-size: $textFooter;
              &.color-red{
                color: $red;
              }
              &.color-green{
                color: $green;
              }
            }
          }
        }
      }
    }
  }
  
  .footer-desc{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
    color: #93a8ac;
    font-size: $textFooter;
  }
}
