.card-with-badge{
  position: relative;
  .item.status{
    border-top: solid 5px;
    &.plus{
      border-color: $green;
    }
    &.negative{
      border-color: $red;
    }
    &.equal{
      border-color: lightgray;
    }
  }
  .card{
    margin: 10px 10px !important;
  }
  .symbol{
    position: absolute;
    right: 0;
    top: 3px;
    padding: 0 5px;
    width: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
 
  .detail{
    padding-right: 8px;
    font-size: $textNormal;
  }
  $arrow-margin: 6px;
  .ion-arrow-right-c{
    color: orange;
    font-size: $textIcon;
    margin-left: -10px;
    margin-right: $arrow-margin;
  }
  .ion-arrow-left-c{
    color: orange;
    font-size: $textIcon;
  }
  .ion-arrow-up-c{
    color: green;
    font-size: $textIcon;
    margin-right: $arrow-margin;
  }
  .ion-arrow-down-c{
    color: red;
    font-size: $textIcon;
    margin-right: $arrow-margin;
  }
  .footer-desc{
    margin-left: 10px;
    margin-right: 10px;
    margin-top:-10px;
    color: #93a8ac;
    font-size: $textFooter;
  }
}
