.analysis-double-card-list {
  padding-top: 4px;
}

.cards-background-page{
  padding: 4px 8px 4px 8px;
  background-color: #FFF;
  .image-card{
    position: relative;
    text-align: center;
    .news-img{
      width:100%;
      height: auto;
      position: relative;
      text-align: center;
    }
  }
  .overlay{
      background-color: black;
      opacity: 0.3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  .header{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    // margin-bottom: 6px;
    .card-title{
      position: absolute;
      top: 50px;
      width: 100%;
      right: 0;
      left: 0;
      font-size: $textTitleName;
      color: #FFF;
    }
    .card-subtitle{
      position: absolute;
      bottom: 15px;
      width: 100%;
      right: 0;
      left: 0;
      color: #FFF;
      font-size: $textTitleName;
    }
    .news-badge{
      text-align: left;
      margin-left: 5px;
      padding-right: 5px;
      margin-top: -40px;
      .badge{
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        left: 0;
        right: 0;
        background-color: #FFF;
        color: #000;
      }
    }
    .news-badge-small{
      text-align: left;
      margin-left: 5px;
      padding-right: 5px;
      margin-top: -44px;
      .badge{
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 2px;
        padding-bottom: 2px;
        left: 0;
        right: 0;
        background-color: #FFF;
        color: #000;
        border-radius: 5px;
      }
      .small{
        font-size: 12px;
      }

    }
    .news-date{
      float: right;
      margin-top: 2px;
      margin-right:5px;
    }
    .news-detail{
      margin-top: 100px;
      text-align:left;
      margin-left: 10px;
      right: 0;
      left: 0;
      height: 40px;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.4;
    }

    .news-detail-small{
      margin-top: 100px;
      text-align:left;
      right: 0;
      left: 0;
      height: 20px;
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.4;
    }
  }
  .detail{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    font-size: $textNormal;
    height: 60px;
    .left{
      display: -webkit-box;
      line-height: 1.25;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;         /* OLD - Firefox 19- */
      -webkit-flex: 1;          /* Chrome */
      -ms-flex: 1;              /* IE 10 */
      flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }
    .right{
      align-self:right;
    }
  }
}
