.economic-calendar{
  .header{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    .title{
      font-size: $textTitleName;
      font-weight: bold;
      color: $colorActiveTab;
      margin-top: -3px;
    }
    .title.stripe {
      border-top: solid 4px $colorActiveTab;
      margin-top: -16px;
      padding-top: 10px;
    }
    .timeago{
      font-size: $textTime;
      color: gray;
      margin-top: -3px;
    }
  }

  .detail{
    display:flex;
    flex-direction: column;
    height: 100%;
    font-size: $textTitleName;
    .row{
      .col-1{
        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
      }
      .col-2{
        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
        text-align: center;
      }
    }

  }
  .footer{
    font-size: $textFooter;
    color: gray;
    background-color: white;
  }
}
