$footer-height: 16px;

.news-card-big{
  padding-top: 12px;
  .header{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 6px;
    .title{
      font-size: $textTitleName;
      font-weight: bold;
      color: $colorActiveTab;
      margin-top: -10px;
    }
    .title.stripe {
      border-top: solid 4px $colorActiveTab;
      margin-top: -12px;
      padding-top: 10px;
      display: inline-block;
    }
  }
  .image-box{
    text-align: center;
    .news-image{
      text-align: center;
      height: auto;
      max-width:100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 5px;
    }
  }
  .description{
    .name{
      font-size: $textTitleName;
    }
    // .summary{
    //   font-size: 14px;
    //   color: gray;
    // }
  }
  .footer{
    color: gray;
    margin-top: 5px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    font-size: $textTime;
    justify-content: space-between;
    align-items: center;
    height: $footer-height;
    img{
      height: $footer-height;
    }

  }
}
.news-card-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  .news-card:nth-child(odd){
    padding: 0 4px 8px 8px;
  }
  .news-card:nth-child(even){
    padding: 0 4px 8px 4px;
  }
}
.news-card{
  // padding: 0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  justify-content: space-between;
  width: 50%;
  border-width: 0;
  .col {
    padding: 0;
  }
  .description{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    .name{
      height: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $textTitleName;
      line-height: 1.4;
    }
    .summary{
      font-size: $textTitleName;
      color: gray;
    }
    .footer{
      color: gray;
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      font-size: $textFooter;
      justify-content: space-between;
      align-items: center;
      height: $footer-height;
      img{
        height: $footer-height;
      }
    }
  }
  .news-image{
    width: 86px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 8px;
  }
  .news-image-small{
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }
  .news-image-right{
    height: 100%;
  }
}
.more-news{
  font-size: $textFooter;
  color: gray;
  margin-top: 15px;
  margin-right: 5px;
}


