.oil-direction-card{
  margin-top: -6px;
  display: flex;
  flex-flow: row wrap; 
  .header{
    margin-bottom: 10px;
  }
  .oil-type{
    width: 50%;
    padding: 5px;
    // background-color: red;
    display: flex;
    flex-flow: column;
    &.one{
      padding: 10px 5px 5px 10px;
    }
    &.two{
      padding: 10px 10px 5px 5px;
    }
    &.three{
      padding: 5px 5px 10px 10px;
    }
    &.four{
      padding: 5px 10px 10px 5px;
    }
    .sub-oil{
      flex: 1;
      background-color: white;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      // height: 100%;
      height: 90px;
      &.card{
        margin: 0;
        .oil-detail-title{
            color: $backgroundBar;
            font-size: $textNormal;
            word-wrap: break-word;
            word-break: break-word;
            white-space: normal;
            text-align: center;
          }
          .oil-detail-subtitle{
            color: #333;
            font-size: $textNormal;
          }
          .oil-detail-status{
            font-size: $textFooter;
            &.color-red{
              color: $red;
            }
            &.color-green{
              color: $green;
            }
          }
      }
      
    }
  }
  // .footer-desc{
  //   margin-top: 5px;
  // }
  .reference-text{  
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

