.searchHeader{
  .connection-status-bar{
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: $colorActiveTab;
    color: white;
    font-size: 11px;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    opacity: 0;
    // transform: translateX(-100%);
    // -webkit-transform: translateX(-100%);
  }

  .connection-status-bar.slide-in {
    opacity: 1;
    // animation: slide-in 0.5s forwards;
    // -webkit-animation: slide-in 0.5s forwards;
  }
  // @keyframes slide-in {
  //     100% { transform: translateX(0%); }
  // }
  // @-webkit-keyframes slide-in {
  //     100% { -webkit-transform: translateX(0%); }
  // }
  .connection-status-bar.slide-out {
    opacity: 0;
    // animation: slide-out 0.5s forwards;
    // -webkit-animation: slide-out 0.5s forwards;
  }
  // @keyframes slide-out {
  //   0% { transform: translateX(0%); }
  //   100% { transform: translateX(-100%); }
  // }
  // @-webkit-keyframes slide-out {
  //     0% { -webkit-transform: translateX(0%); }
  //     100% { -webkit-transform: translateX(-100%); }
  // }
}
