.single-card {
    .map-suggestion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ion-android-close{
            color: white;
        }
    }
    .card {
        margin: 10px;
    }
    .breaking-news-today {
        background-color: #ED1A79;
    }
    .header {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        justify-content: space-between;
        .title {
            position: relative;
            color: #ED1A79;
            font-size: $textTitleName;
            top: 0;
            left: 0;
            padding: 10px 15px 0 15px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .detail {
            font-size: $textNormal;
        }
        .footer {
            text-align: right;
            .timeago {
                font-size: $textTime;
                color: gray;
                line-height: 0.5;
                margin-top: 5px;
            }
        }
    }
    ul {
        list-style: inside;
    }
    ol {
        list-style: decimal;
        list-style-position: inside;
    }
}