$font-size: 15px;
$line-height: 1.4;
$lines-to-show: 3;
.triple-card{
  &.padding-list{

    background-color: white;
    padding: 10px 10px 0 10px;
    .big{
      margin: 0;
    }
  }
  &.last{
    padding: 10px;
  }
  &.with-padding{
    background-color: white;
    padding-top: 5px;
    .big{
      margin: 0 5px 5px 5px;
    }
    .half-left{
      margin-right: 2px;
    }
    .half-right{
      margin-left: 2px;
    }
  }
  .big{
    position: relative;
    margin-bottom: 2px;
    .mock{
      background-color: lightgray;
      height: 250px;
      width: 100%;
    }
    &.half{
        display: flex;
    }
    .half-left{
      width: 50%;
      position: relative;
      border-right: 1px solid white;
      .mock{
        background-color: lightgray;
        height: 125px;
        width: 100%;
      }
    }
    .half-right{
      width: 50%;
      position: relative;
      border-left: 1px solid white;
      .mock{
        background-color: lightgray;
        height: 125px;
        width: 100%;
      }
    }
    
    .image{
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .overlay{
      background-color: black;
      opacity: 0.3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
    .header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
      color: white;
      .sub-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 8px;
        .type{
          color: black;
          background-color: white;
          padding-left: 5px;
          padding-right: 5px;
          border-radius: 5px;
          font-weight: bold;
          font-size: $textTime;
        }
        .date{
          font-size: $textTime;
        }
      }
    }
    .footer{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 99;
      color: white;
      .sub-footer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        height: 60px;
        .summary{
          font-size: $textTitleName;
          display: -webkit-box;
          line-height: 1.4;
          -webkit-line-clamp: 2;
          /* autoprefixer: off */
          -webkit-box-orient: vertical;
          /* autoprefixer: on */
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-word;
        }
        .audio-player{
          align-self: flex-end;
        }
      }
    }
  }
  .half-group{
    display: flex;
    justify-content: space-between;
    .half-left{
      flex: 1;
    }
    .half-right{
      flex: 1;
    }
  }
}

// .triple-card{ 




//     .header-footer{
//       display: flex;
//       justify-content: space-between;
      
//     }
    
//     &.prev{
//         .cards-background-page {
//             padding: 10px 10px 5px 10px;
//         }   
//         .col1 .cards-background-page {
//             padding: 5px 5px 10px 10px;
//         }
//         .col2 .cards-background-page {
//             padding: 5px 10px 10px 5px;
//         }
//     }
//     .cards-background-page {
//       padding: 0;
//       .header{
//       margin: 0;
//       display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//       display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//       display: -ms-flexbox;      /* TWEENER - IE 10 */
//       display: -webkit-flex;     /* NEW - Chrome */
//       display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
//       justify-content: space-between;
//       // margin-bottom: 6px;
//       .card-title{
//         position: absolute;
//         top: 50px;
//         width: 100%;
//         right: 0;
//         left: 0;
//         font-size: $textTitleName;
//         color: #FFF;
//       }
//       .card-subtitle{
//         position: absolute;
//         bottom: 15px;
//         width: 100%;
//         right: 0;
//         left: 0;
//         color: #FFF;
//         font-size: $textTitleName;
//       }
//     }
//     }
//     .row{
//       display: flex;
//       flex-flow: row nowrap;
//       margin: 1px 0 0 0;
//       padding: 0;
//       .col1 {
//         margin: 0;
//         padding: 0;
//         flex: 1;
//       }
//       .col2 {
//         margin: 0 0 0 1px;
//         padding: 0;
//         flex: 1;
//       }
//     }
//     .news-badge{
//       text-align: left;
//       margin-left: 5px;
//       padding-right: 5px;
//       margin-top: -40px;
//     .badge{
//       padding-left: 10px;
//       padding-right: 10px;
//       border-radius: 5px;
//       left: 0;
//       right: 0;
//       background-color: #FFF;
//       color: #000;
//     }
//   }
// }