.video-card{


  .item{
    padding:0;

  }
  .title-name{
    font-size: $textTitleName;
    font-weight: bold;
  }
  .created-date{
    padding: 10px;

  }
  .footer{
    padding: 10px;
    font-size: $textNormal;
    background-color: white;
    border-top: none;
    // height: 60px;
    .timeago{
      font-size: $textTime;
      color: gray;
      text-align: right;
    }
  }
  img{
    width:100%;
    height:auto;
  }


}
