/**
 * Import fonts either via @import url (e.g. from Googlee Fonts)
 * or via @font-face when font files are stored locally in /app/fonts
 */


// @import url(http://fonts.googleapis.com/css?family=Roboto:700,400,300);

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../fonts/Kanit-Ligth.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../fonts/Kanit-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;;
}

@font-face {
    font-family: 'Kanit';
    src: url(../fonts/Kanit-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
