/**
 * Define variables here
 */
$textColor: #ccc;
$backgroundGrey:#edeff5;
$backgroundBar: #0c5d9a;
//color
$green: #27AE60;
$red: #FF0000;
$gray: #93A8AC;
$orange: orange;
// Tabs
$backgroundTab: #fff;
$colorActiveTab: #ED1A79;
$colorTextTab: rgba(84, 84, 84, 0.6);
//filter-page
$textColorGrey: #adadad;

//fonst size  
$textTime: 13px;
$textFooter: 13px;
$textTitleName: 15px;
$textNormal: 16px;
$textAudio: 11px;
$textType: 12px;
$textIcon: 18px;

// $textTime: 11px;
// $textFooter: 11px;
// $textTitleName: 12px;
// $textNormal: 14px;
// $textAudio: 9px;
// $textIcon: 16px;