ion-scroll{
    overflow: auto !important;
}
.text-bold{
  font-weight: bold;
}
.notification-bubble{
  position: absolute;
  z-index: 9;
  background-color: lightgray;
  border-radius: 12px;
  padding: 5px 10px;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  opacity: 0.7;
}
.notification-bubble-home{
  position: fixed;
  z-index: 9;
  background-color: lightgray;
  border-radius: 12px;
  padding: 5px 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  opacity: 0.7;
  top: 15%;
}

// ul {padding: 1px 10px 1px 20px;list-style-type: circle;}

.news-badge-style .slide-0,
.breaking-news-badge-style .slide-0,
.analysis-badge-style .slide-0,
.weekly-analysis-badge-style .slide-1,
.special-analysis-badge-style .slide-3,
.calendar-badge-style .slide-0
{
    background-color: $colorActiveTab;
    width: 6px;
    height: 6px;
    position: absolute;
    right: 1px;
    top: 12px;
    border-radius: 50%;
}

body, .ionic-body {
  color: #333;
}
.collection-repeat-container{
  top: -140px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.tab-item.activated{
  color: gray !important;
}
.item.activated{
  background-color: white !important;
}
.button-icon.icon.iconGasStation {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 40px;
  width: 25px;
  background-image: url('images/icons/icon-petrol-white.png');
  background-size: contain;
}
// }
.created-date{
  font-size: 12px;
  color: $colorActiveTab;
}
.timestamp{
  font-size: $textTime;
  color: gray;
  float:right;
}
.read-more{
  font-size: $textTime;
  color: gray;
  //background-color: white;
}
.md-scroll-mask { position: initial;}

.no-content{
  color: gray;
  margin-top: 10px;
  font-size: $textTime;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  justify-content: center;
  img {
    margin-right: 10px;
  }
}

$playerHeight: 47px;
$shift_padding: 20px;
#audio-player-section{
  position: fixed;
  width: 100%;
  top: -46px; //$playerHeight -1
  height: $playerHeight;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  align-items: center;
  background-color: #fbfafc;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  .ion-play{
    padding-left: $shift_padding;
    padding-right: $shift_padding;
    color: $colorActiveTab;
    font-size: 140%;
  }
  .ion-pause{
    padding-left: $shift_padding;
    padding-right: $shift_padding + 2;
    color: $colorActiveTab;
    font-size: 140%;
  }
  .hp_slide{
    width: 30%;
    background: lightgray;
    height: 5px;
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    .hp_range{
        width:0;
        background:$colorActiveTab;
        height:5px;
        z-index: 3;
    }
  }
  // .hp_buffer{
  //     position: absolute;
  //     width:0;
  //     background: gray;
  //     height:5px;
  // }
  .audio-title{
    font-size: 11px;
    margin-left: 6px;
  }
  .ion-close{
    padding-right: $shift_padding;
    padding-left: $shift_padding;
    font-size: 140%;
    color: $colorActiveTab;
  }
}

#pac-input{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.zoom-14 p, .zoom-14 .card .item .detail, .zoom-14 li{
  font-size: 14px !important;
  line-height: 1.5;
}
.zoom-16 p, .zoom-16 .card .item .detail, .zoom-16 li{
  font-size: 16px !important;
  line-height: 1.5;
}
.zoom-18 p, .zoom-18 .card .item .detail, .zoom-18 li{
  font-size: 18px !important;
  line-height: 1.5;
}
.zoom-20 p, .zoom-20 .card .item .detail, .zoom-20 li{
  font-size: 20px !important;
  line-height: 1.5;
}
@media (min-width: 680px) {
  .modal {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  .modal-backdrop.active{
    .modal-backdrop-bg{
      transition: opacity 300ms ease-in-out;
      background-color: transparent;
      opacity: 0;
    }
  }
}

.reference-text {
  color: gray;
  font-size: $textTime;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.bg-white {
  background-color: white;
}
.marginBottom20{
  margin-bottom: 20px;
}
.marginTop20 {
  margin-top: 20px;
}

.title-bold-active-color{
  color: #ED1A79;
  font-size: $textTitleName;
  font-weight: bold;
}


.mock-news{
  background-color: white;
  height: 100px;
  width: 100%;
}