<ion-view ng-cloak>
  <search-header title="ANALYSIS_C" can-search="true" internet-style-top=88></search-header>
  <ion-content scroll="false" ng-cloak class="has-header"
  ng-class="{ 'analysis-badge-style' : analysisCount > 0, 'weekly-analysis-badge-style' : weeklyAnalysisCount > 0, 'special-analysis-badge-style' : specialAnalysisCount > 0 }">
    <ion-slide-box slide-tabs-scrollable="true" show-pager="false" ion-slide-tabs on-slide-changed="slideHasChanged($index)" ng-init="lockSlide()">
      <ion-slide ion-slide-tab-label="{{'LATEST_C' | translate}}" class="slidingTabContent">
        <slide-page type="analysisCardList" resource="analyses" search-method="findByTitle" number=0></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'WEEKLY_C' | translate}}" class="slidingTabContent">
        <slide-page type="analysisCardList" resource="weeklyAnalyses" search-method="findByTitle" number=1></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'INTERVIEW_C' | translate}}" class="slidingTabContent">
        <slide-page type="analysisMediaList" resource="interviews" search-method="findByTitle" number=2></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'SPECIAL_C' | translate}}" class="slidingTabContent">
        <slide-page type="analysisCardList" resource="specialAnalyses" search-method="findByTitle" number=3></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'FAQ_U' | translate}}" class="slidingTabContent">
        <!-- <faq-page resource="faqs" search-method="findActive"></faq-page> -->
        <faq-page resource="faqContents" search-method=""></faq-page>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
