<ion-view class="analysis-detail-lanscape-page">
  <ion-content ng-cloak>
   <div class="zoom-{{fontSize}}">
    <div class="header-section">
        <div class="cards-background-page" style="padding: 0">
          <div class="image-card">
            <img ng-if="!item.thumbnailPath && resource === 'analyses'" class="news-img img" ng-src="{{baseUrl + '/analysis/default/daily.png'}}">
            <img ng-if="!item.thumbnailPath && resource === 'weeklyAnalyses'" class="news-img img" ng-src="{{baseUrl + '/analysis/default/weekly.png'}}">
            <img ng-if="!item.thumbnailPath && resource === 'specialAnalyses'" class="news-img img" ng-src="{{baseUrl + '/analysis/default/special.png'}}">
            <img ng-if="item.thumbnailPath" class="news-img img" ng-src="{{baseUrl + item.thumbnailPath}}">
            <div class="header">
              <div class="card-title">
                <div class="news-badge">
                  <span class="badge">{{resource === 'analyses' ? 'DAILY' : resource === 'weeklyAnalyses' ? 'WEEKLY' : 'SPECIAL'}}</span>
                  <span class="news-date"><date-locale date="item.publishDatetime"></date-locale></span>
                </div>
              </div>
              <div class="card-subtitle">
                <div class="news-badge">
                  <div class="header-footer">
                    <img class="logo" align="left" src="images/logo-new.png">
                    <audio-player title="titlePlayer" class="audio-player" ng-if="item.soundPath" audio="item.soundPath"></audio-player>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="analysis-name">
          <p>{{item.name}}</p>
        </div>
      </div>

    <!-- SPECIAL ANALYSIS  -->
    <div ng-if="resource === 'specialAnalyses'" ng-bind-html="item.content" class="weekly-section"></div>
    <div ng-if="resource === 'analyses'">
      
      <!-- tabbar -->
        <div class="tab-section">
          <div class="tab" ng-class="{'active': selectedTab == 1}" ng-click="selectTab(1)">{{'CRUDE_OIL' | translate}}</div>
          <div class="tab tab-right" ng-class="{'active': selectedTab == 2}" ng-click="selectTab(2)">{{ 'PRODUCT_OIL' | translate}}</div>
        </div>
        <!-- tab 1 -->
        <div ng-show="selectedTab == 1">
          <card-with-table title="OIL_PRICE_C" row1="'WEST_TEXAS_C'" row2="item.crudeOilPriceWestTexas" row3="item.crudeOilPriceWestTexasCh" 
          row4="BRENT_C" row5="item.crudeOilPriceBrent" row6="item.crudeOilPriceBrentCh" row7="DUBAI_C" row8="item.crudeOilPriceDubai" 
          row9="item.crudeOilPriceDubaiCh">
          </card-with-table>
          <card-with-badge ng-if="analysis.content" symbol="analysis.symbol" content="analysis.content" ng-repeat="analysis in item.analysisContentList"></card-with-badge>
          <div class="footer-desc">หมายเหตุ: แถบสีเขียว = ปัจจัยบวก, แถบสีแดง = ปัจจัยลบ</div>
        </div>
        <!-- tab 2 -->
        <div ng-show="selectedTab == 2">
          <oilprice-card title="SG_OIL_PRICE_C" row1="'PETROL_OIL_C'" row2="item.sgOilPricePetrol" row3="item.sgOilPricePetrolCh" row4="'FUEL_OIL_C'" 
          row5="item.sgOilPriceFuel" row6="item.sgOilPriceFuelCh" row7="'DIESEL_FUEL_C'" row8="item.sgOilPriceDiesel" row9="item.sgOilPriceDieselCh"
          row10="'PARAFFIN_OIL_C'" row11="item.sgOilPriceParaffin" row12="item.sgOilPriceParaffinCh"></oilprice-card>
          <single-card ng-if="item.petrolContent" stripe="true" title="'PETROL_PRICE_C'" content="item.petrolContent" timeago=""></single-card>
          <single-card ng-if="item.dieselContent" stripe="true" title="'DIESEL_PRICE_C'" content="item.dieselContent" timeago=""></single-card>
        </div>

    </div>

    <!-- WEEKLY ANALYAIS -->
    <div ng-if="resource === 'weeklyAnalyses'" ng-cloak class="zoom-{{fontSize}}">
      <img ng-style="{height: 'auto', width: '100%', 'padding': '10px'}" ng-if="item.graphImage" ng-src="{{baseUrl + item.graphImage}}"/>
      <single-card ng-if="item.title1" stripe="true" title="item.title1" content="item.content1" timeago=""></single-card>
      
      <div class="header">
        <div class="title ng-binding">{{item.title2}}</div>
      </div>
      <card-with-badge ng-if="item.weeklyAnalysisContentList"  ng-repeat="sub in item.weeklyAnalysisContentList"
        symbol="sub.symbol" content="sub.content"></card-with-badge>
      <div class="footer-desc">หมายเหตุ: แถบสีเขียว = ปัจจัยบวก, แถบสีแดง = ปัจจัยลบ</div>

      <single-card ng-if="item.title3" stripe="true" title="item.title3" content="item.content3" timeago=""></single-card>
    </div>

   </div>
  </ion-content>
</ion-view>
