<ion-modal-view  class="analysis-detail-page">
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-android-close icon-header-small" ng-click="closeAnalysisModal()"></button>
    <h1 class="title">{{'OIL_ANALYSIS_C' | translate}}</h1>
  </ion-header-bar>
  <ion-content ng-cloak>
    <div class="header-section">
      <p>{{item.name}}</p>
      <img class="logo" align="left" height=30 src="images/icons/logo-new.png">
      <div class="timestamp">
        <span>{{item.publishDatetime | date:'dd MMM yyyy'}}</span>
        <span am-time-ago="item.publishDatetime"></span>
      </div>
      <audio-player title="titlePlayer" class="audio-player" ng-if="item.soundPath" audio="item.soundPath"></audio-player>
    </div>

    <div ng-if="item.content" ng-bind-html="item.content" class="weekly-section"></div>
    <div ng-if="!item.content">

      <card-with-table title="OIL_PRICE_C"
                       header1="'US_DOLLAR_PER_BARREL_C'" header2="item.crudeOilDate" header3="'CHANGE_C'"
                       row1col1="'WEST_TEXAS_C'" row1col2="item.crudeOilPriceWestTexas" row1col3="item.crudeOilPriceWestTexasCh"
                       row2col1="'BRENT_C'" row2col2="item.crudeOilPriceBrent" row2col3="item.crudeOilPriceBrentCh"
                       row3col1="'DUBAI_C'" row3col2="item.crudeOilPriceDubai" row3col3="item.crudeOilPriceDubaiCh">
      </card-with-table>

      <card-with-badge symbol="analysis.symbol" content="analysis.content" ng-repeat="analysis in item.analysisContentList"></card-with-badge>

      <card-with-table title="SG_OIL_PRICE_C"
                       header1="'US_DOLLAR_PER_BARREL_C'" header2="item.sgOilDate" header3="'CHANGE_C'"
                       row1col1="'PETROL_OIL_C'" row1col2="item.sgOilPriceFuel" row1col3="item.sgOilPriceFuelCh"
                       row2col1="'PARAFFIN_OIL_C'" row2col2="item.sgOilPriceParaffin" row2col3="item.sgOilPriceParaffinCh"
                       row3col1="'DIESEL_FUEL_C'" row3col2="item.sgOilPriceDiesel" row3col3="item.sgOilPriceDieselCh"
                       row4col1="'FUEL_OIL_C'" row4col2="item.sgOilPriceFuel" row4col3="item.sgOilPriceFuelCh">
      </card-with-table>

      <single-card stripe="true" title="'PETROL_PRICE_C'" content="item.petrolContent" timeago=""></single-card>
      <single-card stripe="true" title="'DIESEL_PRICE_C'" content="item.dieselContent" timeago=""></single-card>

    </div>
  </ion-content>
</ion-modal-view>
