<ion-view class="analysis-detail-page">
  <ion-header-bar align-title="center" class="bar-positive analysisDetailHeader">
    <button class="button button-icon icon ion-chevron-left icon-header-small" ng-click="goBack()"></button>
    <h1 class="title" ng-if="resource === 'analyses'">{{'DAILY_ANALYSIS' | translate}}</h1>
    <h1 class="title" ng-if="resource === 'weeklyAnalyses'">{{'WEEKLY_ANALYSIS' | translate}}</h1>
    <h1 class="title" ng-if="resource === 'specialAnalyses'">{{'SPECIAL_ANALYSIS' | translate}}</h1>
    <button class="button button-clear" ng-click="toggleFont()">Aa</button>
  </ion-header-bar>
  <ion-content ng-cloak scroll="true">
    <div class="zoom-{{fontSize}}">
      <div class="header-section">
        <div class="cards-background-page" style="padding: 0">
          <div class="image-card">
            <img ng-if="!item.thumbnailPath && resource === 'analyses'" class="news-img img" ng-src="{{baseUrl + '/analysis/default/daily.png'}}"
              fallback-src="images/img/daily.png">
            <img ng-if="!item.thumbnailPath && resource === 'weeklyAnalyses'" class="news-img img" ng-src="{{baseUrl + '/analysis/default/weekly.png'}}"
              fallback-src="images/img/weekly.png">
            <img ng-if="!item.thumbnailPath && resource === 'specialAnalyses'" class="news-img img" ng-src="{{baseUrl + '/analysis/default/special.png'}}"
              fallback-src="images/img/special.png">
            <img ng-if="item.thumbnailPath" class="news-img img" ng-src="{{baseUrl + item.thumbnailPath}}" fallback-src="{{defaultImage}}">
            <div class="overlay"></div>
            <div class="header">
              <div class="card-title">
                <div class="news-badge">
                  <span class="badge">{{resource === 'analyses' ? 'DAILY' : resource === 'weeklyAnalyses' ? 'WEEKLY' : 'SPECIAL' | translate}}</span>
                  <span class="news-date"><date-locale short="true" date="item.publishDatetime"></date-locale></span>
                </div>
              </div>
              <div class="card-subtitle">
                <div class="news-badge">
                  <div class="header-footer">
                    <img class="logo" align="left" src="images/logo-new.png">
                    <div class="audio-player-header">
                      <audio-player title="titlePlayer" ng-if="item.soundPath" audio="item.soundPath"></audio-player>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="analysis-name">
          <p>{{item.name}}</p>
        </div>
      </div>
      <div class="loader" ng-if="loading">
        <ion-spinner></ion-spinner>
      </div>
      <!-- SPECIAL ANALYSIS  -->
      <div ng-if="resource === 'specialAnalyses'" ng-bind-html="trust(item.content)" class="weekly-section" ng-cloak></div>
      <!-- DAILY ANALYAIS -->
      <div ng-if="resource === 'analyses'" ng-cloak class="zoom-{{fontSize}}">
        <!-- DAILY -->

        <!-- tabbar -->
        <div class="tab-section">
          <div class="tab" ng-class="{'active': selectedTab == 1}" ng-click="selectTab(1)">{{'CRUDE_OIL' | translate}}</div>
          <div class="tab tab-right" ng-class="{'active': selectedTab == 2}" ng-click="selectTab(2)">{{ 'PRODUCT_OIL' | translate}}</div>
        </div>
        <!-- tab 1 -->
        <div ng-show="selectedTab == 1">
          <card-with-table title="OIL_PRICE_C" row1="'WEST_TEXAS_C'" row2="item.crudeOilPriceWestTexas" row3="item.crudeOilPriceWestTexasCh"
            row4="BRENT_C" row5="item.crudeOilPriceBrent" row6="item.crudeOilPriceBrentCh" row7="DUBAI_C" row8="item.crudeOilPriceDubai"
            row9="item.crudeOilPriceDubaiCh">
          </card-with-table>
          <card-with-badge ng-if="item.analysisContentList && item.analysisContentList.length > 0" ng-repeat="analysis in item.analysisContentList"
            content="analysis.content" symbol="analysis.symbol"></card-with-badge>
          <div ng-if="item.analysisContentList && item.analysisContentList.length > 0" class="footer-desc">หมายเหตุ: แถบสีเขียว = ปัจจัยบวก, แถบสีแดง = ปัจจัยลบ</div>
        </div>
        <!-- tab 2 -->
        <div ng-show="selectedTab == 2">
          <oilprice-card title="SG_OIL_PRICE_C" row1="'PETROL_OIL_C'" row2="item.sgOilPricePetrol" row3="item.sgOilPricePetrolCh" row4="'FUEL_OIL_C'"
            row5="item.sgOilPriceFuel" row6="item.sgOilPriceFuelCh" row7="'DIESEL_FUEL_C'" row8="item.sgOilPriceDiesel" row9="item.sgOilPriceDieselCh"
            row10="'PARAFFIN_OIL_C'" row11="item.sgOilPriceParaffin" row12="item.sgOilPriceParaffinCh"></oilprice-card>
          <single-card ng-if="item.petrolContent" stripe="true" title="'PETROL_PRICE_C'" content="item.petrolContent" timeago=""></single-card>
          <single-card ng-if="item.dieselContent" stripe="true" title="'DIESEL_PRICE_C'" content="item.dieselContent" timeago=""></single-card>
        </div>

        <div class="header marginTop20" ng-show="prevArticles && prevArticles[0]">
          <div class="title">{{'PREVIOUS_ARTICLES' | translate}}</div>
        </div>
        <triple-card ng-if="prevArticles && prevArticles.length > 0" custom-class="'with-padding'" home-menu="homeMenu" item1="prevArticles[0]"
          resource1="'analyses'" item2="prevArticles[1]" resource2="'analyses'" item3="prevArticles[2]" resource3="'analyses'">
        </triple-card>

      </div>

      <!-- WEEKLY ANALYSIS -->
      <div ng-if="resource === 'weeklyAnalyses'" ng-cloak class="zoom-{{fontSize}}">
        <img ng-style="{height: 'auto', width: '100%'}" ng-if="item.graphImage" ng-src="{{baseUrl + item.graphImage}}" />

        <single-card ng-if="item.title1" title="item.title1" stripe="true" content="item.content1" timeago=""></single-card>
        <div class="summaryContent" ng-if="item.summary">
          <p>{{item.summary}}</p>
        </div>
        <!-- start weeklyAnalysisContentList -->
        <div ng-if="item.weeklyAnalysisContentList && item.weeklyAnalysisContentList.length > 0">
          <div class="single-card">
            <div class="header" ng-if="item.title2">
              <div class="title">
                {{item.title2}}
              </div>
            </div>
          </div>
          <card-with-badge ng-repeat="sub in item.weeklyAnalysisContentList" symbol="sub.symbol" content="sub.content"></card-with-badge>
          <div class="footer-desc">หมายเหตุ: แถบสีเขียว = ปัจจัยบวก, แถบสีแดง = ปัจจัยลบ</div>
        </div>
        <!-- end weeklyAnalysisContentList  -->

        <single-card ng-if="item.title3" title="item.title3" stripe="true" content="item.content3" timeago=""></single-card>

      </div>

    </div>
  </ion-content>
</ion-view>