<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-android-close icon-header-small" ng-click="closeModal()"></button>
    <h1 class="title">{{'BREAKING_NEWS_C' | translate}}</h1>
  </ion-header-bar>
  <ion-content ng-cloak class="newsDetailContent">
    <div class="detail">
      <p class="date">
        <span>{{item.publishDatetime | date:'dd MMM yyyy'}}</span>
        <span am-time-ago="item.publishDatetime"></span>
      </p>
      <p class="content" ng-bind-html="item.content">
      </p>
    </div>
  </ion-content>
</ion-modal-view>
