<ion-view ng-cloak>
  <search-header title="CALENDAR_C" filter="true" type-list="true" filter-name="calendarCountries" sources="countries" can-back="true" disabled-search-enter="true" can-search="true" internet-style-top=88></search-header>
  <ion-content scroll="false" ng-cloak class="has-header">
    <ion-slide-box slide-tabs-scrollable="true" show-pager="false" ion-slide-tabs on-slide-changed="slideHasChanged($index)" ng-init="lockSlide()">
      <ion-slide ion-slide-tab-label="{{'LAST_WEEK' | translate}}" class="slidingTabContent">
        <slide-page type="calendarList" resource="economicCalendars" search-method="findBetween" assign-params="lastweek" number=0></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'YESTERDAY' | translate}}" class="slidingTabContent">
        <slide-page type="calendarList" resource="economicCalendars" search-method="findBetween" assign-params="yesterday" number=1></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'TODAY' | translate}}" class="slidingTabContent">
        <slide-page type="calendarList" resource="economicCalendars" search-method="findBetween" assign-params="today" number=2></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'THIS_WEEK' | translate}}" class="slidingTabContent">
        <slide-page type="calendarList" resource="economicCalendars" search-method="findBetween" assign-params="thisweek" number=3></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'NEXT_WEEK' | translate}}" class="slidingTabContent">
        <slide-page type="calendarList" resource="economicCalendars" search-method="findBetween" assign-params="nextweek" number=4></slide-page>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
