<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-chevron-left icon-header-small" ng-click="goBack()"></button>
    <h1 class="title">{{'DISCLAIMER_C' | translate}}</h1>
    <button class="button button-clear" ng-click="toggleFont()">
      Aa
    </button>
  </ion-header-bar>
  <ion-content scroll="true" ng-cloak style="background-color:white;padding:16px;">
    <div class="zoom-{{fontSize}}">
      <p>
        <span style="width:30px;display: inline-block;"></span>
        บริษัท ไทยออยล์ จำกัด (มหาชน) (ซึ่งต่อไปนี้จะเรียกว่า “บริษัทฯ”) นำเสนอข้อมูลทั้งหมดที่ปรากฏในแอปพลิเคชันนี้ เพื่อให้ข้อมูล “ตามที่เป็นอยู่” และ “ตามที่มีอยู่” เท่านั้น
      </p>
      <p>
      <span style="width:30px;display: inline-block;"></span>โดยไม่มีการรับประกันใดๆ เกี่ยวกับความสมบูรณ์เพียงพอ ความถูกต้อง ความเป็นปัจจุบัน หรือผลที่ได้รับเนื่องมาจากการนำข้อมูลนี้ไปใช้ ตลอดจนปราศจากการรับประกันทุกชนิดทุกประเภท
      ไม่ว่าจะโดยชัดแจ้งหรือโดยปริยาย (ซึ่งรวมถึงแต่ไม่จำกัดเพียงการรับประกันในเชิงประสิทธิภาพ การใช้ประโยชน์ในเชิงพาณิชย์ ความเหมาะสมสำหรับวัตถุประสงค์ใดโดยเฉพาะ
      หรือการปราศจากไวรัสหรือโปรแกรมแฝง (malware) ในข้อมูลนั้น)
      </p>
      <p>
      <span style="width:30px;display: inline-block;"></span>ทั้งนี้ บริษัทฯ จะไม่รับผิดสำหรับความผิดพลาด ความบกพร่องหรือความไม่ครบถ้วนใดๆ ของข้อมูลนั้น โดยบริษัทฯ พันธมิตรที่เกี่ยวข้อง
      ตลอดจนบริษัทในเครือ ตัวแทน ลูกจ้าง และ/หรือพนักงานของบริษัทฯ และของพันธมิตรที่เกี่ยวข้องปฏิเสธความรับผิดชอบต่อท่านหรือต่อบุคคลใดๆ ในทุกกรณี สำหรับการตัดสินใจหรือการกระทำใดๆ
      ที่เกิดขึ้นจากความเชื่อถือหรือความไว้วางใจในข้อมูลที่ปรากฏในแอปพลิเคชันนี้ หรือสำหรับความเสียหายต่อเนื่อง ความเสียหายพิเศษ หรือความเสียหายอื่นใดในทำนองเดียวกัน ถึงแม้ว่าบริษัทฯ
      จะได้รับแจ้งว่าอาจจะเกิดความเสียหายดังกล่าว
      </p>
      <p>
      <span style="width:30px;display: inline-block;"></span>บริษัทฯ ได้จัดทำลิงก์ (link) ต่างๆ ในแอปพลิเคชันนี้ที่เชื่อมโยงกับเว็บไซต์อื่นๆ ซึ่งอยู่ภายใต้การดูแลจัดการโดยบุคคลที่สามนอกเหนือจากการควบคุมของบริษัทฯ โดยที่บริษัทฯ
      ไม่ได้รับประกันว่าข้อมูลในเว็บไซต์อื่นๆ ดังกล่าวมีความถูกต้อง สมบูรณ์เพียงพอ เป็นปัจจุบัน เหมาะสมกับวัตถุประสงค์ใดโดยเฉพาะ และปราศจากไวรัสหรือโปรแกรมแฝง (malware)
      </p>
      <p style="padding:10px;">
      <span style="width:30px;display: inline-block;"></span>ตลอดจนบริษัทฯ ไม่ต้องรับผิดต่อความสูญเสีย ความเสียหาย หรือค่าใช้จ่ายใดๆ ที่เกิดขึ้น อันเป็นผลสืบเนื่องมาจากการที่ท่านเข้าใช้เว็บไซต์อื่นๆ หรือเว็บไซต์ที่เชื่อมโยงกับเว็บไซต์อื่นๆ นั้น
      การใช้งานแอปพลิเคชันนี้ให้เป็นไปตามกฎหมายไทย
      </p>
      <p>
      <span style="width:30px;display: inline-block;"></span>
      All information contained in this application is provided on “as is” and “as available” basis
      </p>
      <p> <span style="width:30px;display: inline-block;"></span>
      with no guarantee of completeness, adequateness, accuracy, recency or of
      the results obtained from the use of this information, and without warranty of any kind, express or implied, including, but not limited to
      warranties of performance, merchantability, fitness for a particular purpose or absence of computer virus or malware therein,
      and Thai Oil Public Company Limited (hereinafter referred to as the “Company”) expressly disclaims liability for errors in, defects in
      or incompleteness of such information.
      </p>
      <p> <span style="width:30px;display: inline-block;"></span>
      In no event shall the Company, its related partnerships, or affiliates, agents, officers and/or employees
      thereof be liable to you or anyone else for any decision made or action taken in reliance on the information in this application or for any consequential,
      special or similar damage, even if advised of the possibility of such damage.
      </p>
      <p> <span style="width:30px;display: inline-block;"></span>
      Certain links in this application connect to other websites maintained by third parties over whom the Company has no control.
      The Company does not warrant that the information contained therein is accurate, adequate, complete, updated, fit for any particular purpose and free from any computer virus or malware,
      and the Company will not be responsible for any loss, damage or expenses which may be incurred in connection with your access to the said third party website or other websites linked to such third party website.
      Use of this application shall be governed by the laws of Thailand
      </p>
    </div>
  </ion-content>
</ion-view>
