<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-positive filter-page">
    <button class="button button-icon icon ion-android-close icon-header-small" ng-click="closeModal()"></button>
    <h1 class="title">{{'FILTER_C' | translate}}</h1>
    <button class="button button-icon icon" ng-if="deviceType !== 'Android'" ng-class="{'ion-ios-circle-outline' : !checkAll, 'ion-ios-checkmark': checkAll}"
      ng-click="toggleCheckAll(checkAll)"></button>
    <button class="button button-icon icon" ng-if="deviceType === 'Android'" ng-class="{'ion-android-checkbox-outline-blank' : !checkAll, 'ion-android-checkbox' : checkAll}"
      ng-click="toggleCheckAll(checkAll)"></button>
  </ion-header-bar>
  <ion-content ng-cloak class="filterContent">

    <div class="agency" ng-if="!typeList">
      <div class="agency-repeat" ng-repeat="source in sources">
        <!-- <div class="card" style="background-image:url({{serverUrl + source.src}});" 
             ng-class="{'ptt-logo-style': source.src === 'ptt.jpg', 
                        'susco-logo-style': source.src === 'susco.jpg',
                        'esso-logo-style': source.src === 'esso.jpg',
                        'bangkokpost-logo-style': source.name === 'Bangkok Post',
                        'thaioil-logo-style': source.name.toLowerCase() === 'thaioil', }">
                        name}}</span>
          <ion-checkbox ng-model="source.checked" ng-check="source.checked"></ion-checkbox>
        </div> -->
        <div class="card">
          <img ng-src="{{serverUrl + source.src}}" fallback-src="{{'images/sourceLogo/' + source.src}}" ng-class="{'ptt-logo-style': source.src === 'ptt.jpg', 
          'susco-logo-style': source.src === 'susco.jpg',
          'esso-logo-style': source.src === 'esso.jpg',
          'caltax-logo-style': source.src === 'caltex.jpg',
          'bangkokpost-logo-style': source.name === 'Bangkok Post',
          'thaioil-logo-style': source.name.toLowerCase() === 'thaioil', }" ng-if="source.name.toLowerCase() !== 'thaioil'"
          />
          <img ng-src="{{serverUrl + source.src}}" fallback-src="images/logo.png" class="thaioil-logo-style" ng-if="source.name.toLowerCase() === 'thaioil'"
          />
          <span ng-if="!source.src">{{source.name}}</span>
          <ion-checkbox ng-model="source.checked" ng-check="source.checked"></ion-checkbox>
        </div>
      </div>
    </div>

    <ion-list ng-if="typeList" class="filter-type-list">
      <ion-checkbox ng-model="source.checked" ng-repeat="source in sources">{{source.name}}</ion-checkbox>
      <div style="height: 90px;"></div>
    </ion-list>

  </ion-content>
</ion-modal-view>


<!--กรุงเทพธุรกิจ-->
<!--Post to day-->
<!--"Reuters"-->