<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-chevron-left icon-header-small" ng-click="goBack()"></button>
    <h1 class="title">{{ 'RETAIL_PRICE_C' | translate }}</h1>
    <!-- <div class="buttons button-clear">
      <button class="button button-icon icon iconGasStation icon-header-small" ng-click="openMap()"></button>
    </div> -->
  </ion-header-bar>
  <ion-content ng-cloak scroll="true" class="has-tabs">
    <div class="no-content">
      <img src="images/icons/icon-rotate.png"> ROTATE YOUR MOBILE TO SEE FULL PRICE
    </div>
    <div class="gas-station">
      <div class="gas-repeat" ng-click="viewRetailPrice(item.ref.toLowerCase())" ng-repeat="item in orderIndex">
        <div class="card">
          <div class="item item-images div-child">
            <img ng-src="{{serverUrl +item.ref.toLowerCase() +'.jpg'}}" fallback-src="{{'images/sourceLogo/'+item.ref.toLowerCase()+'.jpg'}}"
            />
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>