<ion-view class="homepage" ng-cloak>
  <search-header title="LATEST_UPDATES_C" map="false" internet-style-top=44></search-header>

  <div class="notification-bubble-home" ng-click="scrollTopAndRefresh()" ng-if="showBubble">New Data
    <i class="icon ion-arrow-up-c"></i>
  </div>
  <ion-content class="home-content has-header" ng-cloak>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()" ng-if="!loading"></ion-refresher>
    <div class="loader" ng-if="loading">
      <ion-spinner></ion-spinner>
    </div>

    <p class="no-content" ng-if="noContent">{{ 'NO_CONTENT_U' | translate }}</p>

    <div class="list" ng-if="breakingNewsToday">
      <div class="single-card">
        <div class="item item-text-wrap" style="background-color: #ED1A79; color:#FFF">
          <span>{{'BREAKING_NEWS_U' | translate}}</span>
          <div class="detail" ng-bind-html="breakingNews.content"></div>
        </div>
      </div>
    </div>

    <div class="header">
      <div class="title">
        <span>{{'ANALYSIS_U' | translate}}</span>
      </div>
      <div class="news-more" ui-sref="tab.analysis">
        <i class="icon ion-arrow-right-c"></i> {{ 'READ_MORE' | translate }}
        <div class="timestamp" am-time-ago="item.timestamp" style="float:right;"></div>
      </div>
    </div>
    <triple-card title="'ANALYSIS_U'" home-menu="true" ng-show="latestAnalysis && latestAnalysis.length > 0" item1="latestAnalysis[0]"
      resource1="'analyses'" item2="latestAnalysis[1]" resource2="'analyses'" item3="latestAnalysis[2]" resource3="'weeklyAnalyses'"
      item4="latestAnalysis[3]" resource4="'specialAnalyses'">
    </triple-card>

    <div class="header" ng-if="economicCalendars.length > 0">
      <div class="title">
        <div>{{'CALENDAR_U' | translate}}</div>
        <div class="desc">{{ 'INTERESTING_NUMBER' | translate}}</div>
      </div>
      <div class="news-more" ng-if="economicCalendars.length > 0" ui-sref="tab.calendar">
        <i class="icon ion-arrow-right-c"></i> {{ 'READ_MORE' | translate }}
        <div class="timestamp" am-time-ago="item.timestamp" style="float:right;"></div>
      </div>
    </div>
    <div class="mock-calendar" ng-if="!economicCalendars"></div>
    <div class="list" ng-if="economicCalendars.length > 0">
      <div class="item calendar-item" ng-repeat="item in economicCalendars | filter: keyword">
        <div class="marketCard" ng-style="{'border-color':item.country.color2 ? 'rgba('+ item.country.color2.split(',')[0] + ',' + item.country.color2.split(',')[1] + ',' + item.country.color2.split(',')[2] + ',' + item.country.color2.split(',')[3] + ')' : '#fff'}">
          <div class="verticalStrip" ng-style="{'border-color':item.country.color1 ? 'rgba('+ item.country.color1.split(',')[0] + ',' + item.country.color1.split(',')[1] + ',' + item.country.color1.split(',')[2] + ',' + item.country.color1.split(',')[3] + ')' : '#fff'}"></div>
          <div class="row-header">
            <div class="title item-text-wrap index-name">
              <span class="date">{{item.publishDatetime.split(' ')[0] | date:'dd MMM'}}</span>
              <img class="flag" ng-src="{{baseUrl + item.country.flagImage}}" ng-if="item.country.flagImage" />
              <p>{{item.name}}
                <span ng-if="item.modifier">- {{item.modifier}}</span>
              </p>
            </div>
          </div>
          <div class="row-detail">
            <span class="textGray">
              <span class="textGray"> {{ 'PREVIOUS' | translate }}:
                <span class="textBlack">{{item.previous ? item.previous : ''}}</span> | {{'ACTUAL' | translate}}:
                <span class="textBlue text-bold">{{item.value ? item.value : ''}}</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="header" ng-if="latestAnalysis">
      <div class="title">
        <span>{{'RETAIL_PRICE' | translate}}</span>
      </div>
      <div class="news-more" ui-sref="tab.gasStation">
        <i class="icon ion-arrow-right-c"></i> {{ 'READ_MORE' | translate }}
      </div>
    </div>
    <oil-direction-card title="RETAIL_PRICE" ng-show="latestAnalysis" e95="latestAnalysis[0].directionGasohol95" e91="latestAnalysis[0].directionGasohol91"
      e20="latestAnalysis[0].directionGasoholE20" diesel="latestAnalysis[0].directionDiesel" ui-sref="tab.gasStation" tax="{{tax}}">
    </oil-direction-card>

    <!-- NEWS CARD -->
    <div class="header">
      <div class="title">{{ 'NEWS_U' | translate}}</div>
      <div class="news-more" ui-sref="tab.news">
        <i class="icon ion-arrow-right-c"></i> {{ 'READ_MORE' | translate }}
      </div>
    </div>
    <div class="mock-news" ng-if="!latestNewses"></div>
    <!--LIST NEWS CARD -->
    <div class="list bg-white marginTop20" ng-show="latestNewses.length > 0">
      <!-- BIG NEWS CARD -->
      <div class="news-big-card" ui-sref="tab.homeNewsDetail({itemid: latestNewses[0].id, item: latestNewses[0], resource: 'news', title: 'LATEST_NEWS'})">
        <div class="image-card item-image">
          <img ng-if="latestNewses[0].ogImage && !latestNewses[0].thumbnailPath" class="news-image" ng-src="{{latestNewses[0].ogImage}}"
            fallback-src="{{redirectImage(lastestNewses[0])}}">
          <img ng-if="latestNewses[0].thumbnailPath && !latestNewses[0].ogImage" class="news-image" ng-src="{{baseUrl + latestNewses[0].thumbnailPath}}"
            fallback-src="{{'images/splashscreen.png'}}">
          <img ng-if="!latestNewses[0].thumbnailPath && !latestNewses[0].ogImage" class="news-image" ng-src="{{'images/splashscreen.png'}}">
          <div class="description-box">
            <div class="name">{{latestNewses[0].name}}</div>
          </div>
        </div>
      </div>
      <!-- SMALL NEWS CARD -->
      <div class="news-card-list">
        <div class="item item-text-wrap news-card" ng-if="$index > 0" ng-repeat="item in latestNewses | filter: search.keyword" ui-sref="tab.homeNewsDetail({itemid: item.id, item: item, resource: 'news', title: 'LATEST_NEWS'})">
          <!--Coloum 1-->
          <div class="col">
            <!-- <div ng-if="item.ogImage && !item.thumbnailPath" class="news-image-small" ng-style="{'background-image': 'url(' + item.ogImage + ')'}"></div>
            <div ng-if="!item.ogImage && item.thumbnailPath" class="news-image-small" ng-style="{'background-image': 'url(' + baseUrl + item.thumbnailPath + ')'}"></div> -->
            <img ng-if="item.ogImage && !item.thumbnailPath" class="news-image-small" ng-src="{{item.ogImage}}" fallback-src="{{redirectImage(item)}}"
            />
            <img ng-if="!item.ogImage && item.thumbnailPath" class="news-image-small" ng-src="{{baseUrl + item.thumbnailPath}}" fallback-src="images/img/no_image300x300.png"
            />
            <div class="description">
              <div class="name highlight">
                {{item.name}}
              </div>
              <div class="footer footer-hightlight-news">
                <img ng-if="item.newsSourceLogoPath !== null && item.newsSourceName !== null" ng-src="{{baseUrl + item.newsSourceLogoPath}}"
                />
                <span ng-if="item.newsSourceLogoPath == null  && item.newsSourceName !== null">{{item.newsSourceName}}</span>
                <img ng-if="item.newsSourceLogoPath === null && item.newsSourceName === null" src="{{baseUrl + '/thaioil/logo.png'}}" />
                <div class="timeago">
                  <div class="timeago" am-time-ago="item.publishDatetime">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--SPECIAL GIFT-->
    <div class="header" ng-if="promotions">
      <div class="title">{{'PROMOTION_U' | translate}}</div>
      <div class="news-more" ui-sref="tab.promotions">
        <i class="icon ion-arrow-right-c"></i> {{ 'READ_MORE' | translate }}
      </div>
    </div>
    <div ng-repeat="thumbnail in promotions">
      <img class="full-image" ng-src="{{serverUrl + thumbnail.thumbnailPath}}" ui-sref="tab.promotionDetail({itemId:
      thumbnail.id, item: thumbnail, resource: 'promotions', title: 'PROMOTION_U'})" ng-if="thumbnail.thumbnailPath" />
      <img class="full-image" ng-src="{{serverUrl + thumbnail.headerThumbnailPath}}" ui-sref="tab.promotionDetail({itemId: thumbnail.id, item: thumbnail, resource: 'promotions', title: 'PROMOTION_U'})"
          ng-if="!thumbnail.thumbnailPath" />
  </div>
    <!--WELCOME SLIDES-->
    <welcome-modal></welcome-modal>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoad && !loading"></ion-infinite-scroll>
  </ion-content>
</ion-view>