<ion-view disable-tap class="tabs-item-hide">
  <div class="bar bar-header bar-positive searchHeader" ng-cloak>
    <button class="button button-icon icon ion-pricetags icon-header-small" ui-sref="tab.promotions" ng-show="promotionExist"></button>
    <h1 class="title">{{'PETROL_STATIONS_C' | translate}} {{station}}
      <span ng-if="server.name !== 'PRD'">({{server.name}})
        <span>
    </h1>
    <div class="buttons button-clear">
      <button class="button button-icon icon ion-ios-settings-strong icon-header-small" ng-click="showModal()"></button>
    </div>
  </div>
  <ion-content scroll="false">
    <!-- <input class="searchMap" places-auto-complete id="autocomplete" size="80" ng-model="address" on-place-changed="placeChanged()" class="input"
      data-tap-disabled="true" /> -->
    <div class="single-card mapAlert" ng-init="hideSuggestion = false" ng-show="!hideSuggestion">
      <div class="item item-text-wrap" style="background-color: #ED1A79; color:#FFF; padding: 10px;">
        <div class="detail map-suggestion">
          <div>{{'PRESS_MAP_TO_SHARE' | translate}}</div>
          <button class="button-icon icon ion-android-close icon-header-small" ng-click="hideSuggestion = true; $event.stopPropagation();"></button>
        </div>
      </div>
    </div>
    <div id="map_canvas" style="width: 100%;height: 100%;"></div>
    <div class="icon_gps" ng-click="gotoCurrentLocation()">
      <img src="images/pinGas/icon-current-location.png">
    </div>
  </ion-content>
</ion-view>