<!-- <ion-view ng-cloak style="background-color:#edeff5">
  <search-header title="MARKETS_C" map="false" can-search="true" internet-style-top=88></search-header>
  <ion-content scroll="false" ng-cloak class="has-header" ng-class="{'calendar-badge-style' : calendarCount > 0}">
    <ion-slide-box slide-tabs-scrollable="true" show-pager="false" ion-slide-tabs on-slide-changed="slideHasChanged($index)" ng-init="lockSlide()"> -->
      <!-- <ion-slide ion-slide-tab-label="{{'RETAIL_PRICE_C' | translate}}" class="slidingTabContent">
        <gas-station-price resource="retailPrices" number=0></gas-station-price>
      </ion-slide> -->
      <!-- <ion-slide ion-slide-tab-label="{{'CALENDAR_C' | translate}}" class="slidingTabContent">
        <slide-page type="marketsCardList"
                    resource="economicCalendars"
                    search-method="findBetween"
                    number=0 >
        </slide-page>
      </ion-slide> -->
      <!-- <ion-slide ion-slide-tab-label="{{'EQUITY_C' | translate}}" class="slidingTabContent">
        <p style="text-align:center; font-size: 10px; margin-top:10px;">Coming Soon...</p>
        <slide-page type="marketsCardList" resource="equity" number=0></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'FOREX_C' | translate}}" class="slidingTabContent">
        <p style="text-align:center; font-size: 10px; margin-top:10px;">Coming Soon...</p>
        <slide-page type="marketsCardList" resource="forex" number=1></slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'OIL_PRICE_C' | translate}}" class="slidingTabContent">
        <p style="text-align:center; font-size: 10px; margin-top:10px;">Coming Soon...</p>
        <slide-page type="marketsCardList" resource="oilPrice" number=2></slide-page>
      </ion-slide> -->
    <!-- </ion-slide-box>
  </ion-content>
</ion-view> -->
