<ion-view class="more-page">
    <search-header title="MORE_C" internet-style-top=44></search-header>
    <ion-content scroll="true" ng-cloak class='has-header'>
      <div class="list">
        <a class="item item-icon-left item-icon-right item-avatar" ui-sref="tab.settings">
          <img src="images/icons/icon-setting.png">
          <p>{{ 'SETTINGS_C' | translate}}</p>
          <i class="icon ion-chevron-right icon-header-small"></i>
        </a>
        <a class="item item-icon-left item-icon-right item-avatar" ui-sref="tab.moreGasStation">
          <img src="images/icons/icon-price.png">
          <p>{{ 'RETAIL_PRICE_C' | translate}}</p>
          <i class="icon ion-chevron-right icon-header-small"></i>
        </a>
        <a class="item item-icon-left item-icon-right item-avatar" ui-sref="tab.moreCalendar">
          <img src="images/icons/icon-calendar.png" style="height: 23px;">
          <p>{{ 'CALENDAR_C' | translate}}</p>
          <i class="icon ion-chevron-right icon-header-small"></i>
        </a>
        <a class="item item-icon-left item-icon-right item-avatar" ui-sref="tab.promotions" ng-show="promotionExist">
            <!-- <img src="images/icons/icon-calendar.png" style="height: 23px;"> -->
            <i class="icon ion-pricetags icon-header-small"></i>
            <p>{{ 'PROMOTION_C' | translate}}</p>
            <i class="icon ion-chevron-right icon-header-small"></i>
          </a>
        <a class="item item-icon-left item-avatar" on-touch="showActionSheet()">
          <img src="images/icons/icon-friends.png">
          <p>{{ 'INVITE_FRIENDS_C' | translate}}</p>
        </a>
        <a class="item item-icon-left item-avatar" ui-sref="tutorial({goto: 'back'})">
          <i class="icon ion-easel"></i>
          <p>{{ 'TUTORIAL_C' | translate}}</p>
        </a>
        <a class="item item-icon-left item-avatar" ui-sref="tab.disclaimer">
          <img src="images/icons/icon-disclaimer.png" style="width:20px;">
          <p>{{ 'DISCLAIMER_C' | translate}}</p>
        </a>
        <!-- <a class="item item-icon-left item-avatar" on-touch="test()">
          <img src="images/icons/icon-disclaimer.png" style="width:20px;">
          <p>{{ 'TEST' | translate}}</p>
        </a> -->
      </div>
      <p class="disclaimer" ng-click="showRegisterId()">version {{version}}</p>
      <p class="disclaimer" ng-show="server.name !== 'PRD'">Server {{server.name}}</p>
      <div class="list" ng-if="mode">
        <a class="item" ng-click="changeBasedUrl()" style="font-size: 12px;">
          กดเพื่อเปลี่ยน server
        </a>
        <a class="item" ng-click="sendNoti()" style="font-size: 12px;">
          Noti "HELLO"
        </a>
        <a class="item" ng-click="sendNotiBreakingNews()" style="font-size: 12px;">
          Noti BreakingNews
        </a>
        <a class="item" ng-click="sendNotiAnalysis()" style="font-size: 12px;">
          Noti Analysis
        </a>
        <a class="item" ng-click="checkSubscribe()" style="font-size: 12px;">
          Check Subscribe
        </a>
        <a class="item" ng-click="shareRegisterId()" style="font-size: 12px;">
          Share My RegisterId
        </a>
        <p class="disclaimer">{{ registerId }}</p>
        <p class="disclaimer">{{ messageFromService }}</p>
      </div>

    </ion-content>
</ion-view>
