<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-positive newsDetailHeader">
    <button class="button button-icon icon ion-android-close icon-header-small" ng-click="closeNewsModal()"></button>
    <h1 class="title" ng-if="item.newsSourceId !== null">{{item.newsSourceName}}</h1>
    <h1 class="title" ng-if="item.newsSourceId === null">Thaioil</h1>
  </ion-header-bar>
  <ion-content ng-cloak class="newsDetailContent">
    <div class="detail">
      <div class="row">
        <h3>{{item.name}}</h3>
      </div>
      <p class="date">
        <span>{{item.publishDatetime | date:'dd MMM yyyy'}}</span>
        <span am-time-ago="item.publishDatetime"></span>
      </p>
      <p class="content" ng-bind-html="item.content">
      </p>
    </div>
  </ion-content>
</ion-modal-view>
