<ion-view ng-cloak>
  <search-header title="NEWS_C" filter="true" filter-name="newsSourceIds" sources="newsSources" can-search="true" internet-style-top=88></search-header>
  <ion-content scroll="false" ng-cloak class="has-header" ng-class="{'news-badge-style' : newsCount > 0}">
  
    <ion-slide-box slide-tabs-scrollable="true" show-pager="false" ion-slide-tabs on-slide-changed="slideHasChanged($index)" ng-init="lockSlide()" >
      <ion-slide ion-slide-tab-label="{{'LATEST_C' | translate}}" class="slidingTabContent">
        <slide-page type="newsSlidePage"
                    has-breaking-news="true"
                    resource="news"
                    search-method="findByTitle"
                    news-resource="true"
                    title="'LATEST_NEWS'"
                    number=0>
        </slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'POPULAR_C' | translate}}" class="slidingTabContent">
        <slide-page type="newsSlidePage"
                    resource="news"
                    search-method="findMostViewedByTitle"
                    news-resource="true"
                    title="'POPULAR_NEWS'"
                    number=1>
        </slide-page>
      </ion-slide>
      <ion-slide ion-slide-tab-label="{{'LOCAL_C' | translate}}" class="slidingTabContent">
        <slide-page type="newsSlidePage"
                    resource="news"
                    search-method="findByTitleAndLocale"
                    news-resource="true"
                    title="'LOCAL_NEWS'"
                    number=2>
        </slide-page>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
