<ion-view>
  <ion-header-bar align-title="center" class="bar-positive newsDetailHeader">
    <a class="button button-icon icon ion-chevron-left icon-header-small" ng-click="goBack()"></a>
    <h1 class="title">{{title | translate}}</h1>
    <button class="button button-clear" ng-click="toggleFont()">
      <!--<span style="font-size:12px">A<span style="font-size:18px">A</span></span>-->
      Aa
    </button>
  </ion-header-bar>
  <ion-content ng-cloak class="newsDetailContent">
    <div class="detail">
      <div class="row">
        <h3>{{item.name}}</h3>
      </div>
      <div class="source-from">
        <img ng-if="item.newsSourceLogoPath !== null && item.newsSourceName !== null" ng-src="{{baseUrl + item.newsSourceLogoPath}}"
          style="height:16px;" />
        <span ng-if="item.newsSourceLogoPath === null && item.newsSourceName !== null">{{newsSourceName}}</span>
        <img ng-if="item.newsSourceLogoPath === null && item.newsSourceName === null" ng-src="{{baseUrl + '/thaioil/logo.png'}}"
          style="height:16px;" />
        <p class="date">
          <span>
            <date-locale date="item.publishDatetime"></date-locale>
          </span>
          <span>
            <date-locale date="item.publishDatetime" timeago="true"></date-locale>
          </span>
          <!-- <span am-time-ago="item.publishDatetime | amParse:'DD-MM-YYYY, HH:mm'"></span> -->
        </p>
      </div>
      <div class="loader" ng-if="loading">
        <ion-spinner></ion-spinner>
      </div>
      <p class="content zoom-{{fontSize}}" ng-bind-html="trust(item.content)">
      </p>
    </div>
    <div class="moreNews" ng-if="moreNews.length > 0">
      <ion-list>
        <ion-item class="headerMoreNews">
          <p>{{ 'MORE_FROM' | translate }}</p>
          <img ng-src="{{baseUrl + item.newsSourceLogoPath}}" ng-if="item.newsSourceLogoPath" height="20px" />
          <span ng-if="item.newsSourceLogoPath == null" class="read-more">{{item.newsSourceName}}</span>
        </ion-item>
        <div class="spinner-center" ng-if="!moreNews">
          <ion-spinner icon="ios"></ion-spinner>
        </div>
        <div class="list">
          <!-- NEWS CARD -->
          <div class="item item-text-wrap news-card" ng-repeat="item in moreNews | filter: search.keyword" ng-click="gotoNewsDetail(item)">
            <div class="description">
              <div class="name">
                {{item.name}}
              </div>
              <div class="footer">
                <img ng-src="{{baseUrl + item.newsSourceLogoPath}}" ng-if="item.newsSourceLogoPath !== null" />
                <span ng-if="item.newsSourceLogoPath == null">{{item.newsSourceName}}</span>
                <div class="timeago">
                  <div class="timeago" am-time-ago="item.publishDatetime">
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="news-image" ng-style="{'background-image': 'url(' + item.ogImage + ')'}"> -->
            <div class="news-image">
              <img ng-if="item.ogImage && !item.thumbnailPath" class="news-image-small news-image-right" ng-src="{{item.ogImage}}" fallback-src="{{redirectImage(item)}}"
              />
              <img ng-if="!item.ogImage && item.thumbnailPath" class="news-image-small news-image-right" ng-src="{{baseUrl + item.thumbnailPath}}" fallback-src="images/img/no_image300x300.png"
              />
            </div>
          </div>
        </div>

      </ion-list>
    </div>
  </ion-content>
</ion-view>