<ion-view ng-cloak>
  <search-header title="PROMOTION_C" can-search="false" internet-style-top=88 can-back="true"></search-header>
  <ion-content scroll="false" class="has-header promotionSlide">
    <p class="no-content" ng-show="noContent">{{ 'NO_CONTENT_U' | translate }}</p>
    <ion-slide-box slide-tabs-scrollable="true" show-pager="false" ion-slide-tabs on-slide-changed="slideHasChanged($index)"
      ng-init="lockSlide()" ng-if="categories">
      <!-- <ion-slide ion-slide-tab-label="All" class="slidingTabContent">
        <slide-page type="analysisCardList" resource="analyses" search-method="findByTitle" number=0></slide-page>
      </ion-slide> -->
      <ion-slide ion-slide-tab-label="{{category.name}}" class="slidingTabContent" ng-repeat="category in categories track by $index"
        ng-if="categories.length > 0" key="$index">
        <!-- <slide-page type="promotionCardList" resource="promotionCategories" search-method="listProductByCategories" search-id="category.id"
          number=$index assign-params="assignParams"></slide-page> -->
      </ion-slide>
    </ion-slide-box>

    <ion-content scroll="false" class="has-header contentPromotion" ng-if="categories">
      <ion-scroll delegate-handle="content" style="height: 100%;">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()" ng-show="loading"></ion-refresher>
        <!-- <div class="loader" ng-if="loading">
          <ion-spinner></ion-spinner>
        </div> -->
        <p class="no-content" ng-show="!categories[itemActive].promotionList && !loading">{{ 'NO_CONTENT_U' | translate }}</p>

        <div class="card-promotion" ng-repeat="item in categories[itemActive].promotionList" ui-sref="tab.promotionDetail({itemId: item.id, item: item, resource: 'promotions', title: 'PROMOTION_U'})">
          <div class="row">
            <div class="col col-33">
              <div class="image-card item-image">
                <img ng-if="!item.thumbnailPath && !item.headerThumbnailPath" class="news-image-small" ng-src="images/dummy.png" />
                <img ng-if="!item.thumbnailPath" class="news-image-small" ng-src="{{baseUrl + item.headerThumbnailPath}}" fallback-src="images/img/no_image300x300.png"
                />
                <img ng-if="item.thumbnailPath" class="news-image-small" ng-src="{{baseUrl + item.thumbnailPath}}" fallback-src="images/img/no_image300x300.png"
                />
              </div>
            </div>
            <div class="col col-67">
              <div class="description-box">
                <div class="name"> {{item.promotionName}}</div>
              </div>
            </div>
          </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="categories[itemActive].canload"></ion-infinite-scroll>
        <!-- <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll> -->
      </ion-scroll>
    </ion-content>
  </ion-content>
</ion-view>
