<ion-view>
  <!-- <ion-header-bar align-title="center" class="bar-positive promotionDetailHeader">
    <button class="button button-icon icon ion-chevron-left icon-header-small" ng-click="goBack()"></button>
    <h1 class="title">{{'PROMOTION_U' | translate}}</h1>
    <button class="button button-clear" ng-click="toggleFont()">
      Aa
    </button>
  </ion-header-bar> -->
  <ion-content ng-cloak class="promotionDetailContent"  on-swipe-right="goBack()">
    <div class="detail">
      <div class="header">
        <div class="thumbnail">
          <button class="button button-icon icon ion-chevron-left icon-header-small" ng-click="goBack()"></button>
          <img ng-if="item.headerThumbnailPath !== null" ng-src="{{baseUrl + item.headerThumbnailPath}}" />
          <img ng-if="item.headerThumbnailPath === null && item.thumbnailPath !== null" ng-src="{{baseUrl + item.thumbnailPath}}" />
          <img ng-if="item.headerThumbnailPath === null && item.thumbnailPath === null" ng-src="https://www.w3schools.com/css/img_fjords.jpg"
          />
        </div>
        <div class="row">
          <h3>{{item.promotionName}}</h3>
        </div>
      </div>
      <div class="row">
        <p>
          <!-- <i class="icon ion-ios-eye" ng-click="toggleFont()"></i> -->
          {{item.count + 1}} views
        </p>
      </div>

      <!-- <p class="date">
        {{item.startDate}} - {{item.expireDate}}
      </p> -->
      <div class="loader" ng-if="loading">
        <ion-spinner></ion-spinner>
      </div>
      <div class="content zoom-{{fontSize}}" ng-bind-html="trust(item.description)">
      </div>
    </div>
  </ion-content>
</ion-view>