<ion-view class="retail-price-portrait">
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-chevron-left icon-header-small" ng-click="goBack()"></button>
    <h1 class="title">{{ currentGasStation }}</h1>
  </ion-header-bar>
  <ion-content ng-cloak scroll="false">

    <ion-slides options="options" slider="data.slider" active-slide="selectedIndex">
      <ion-slide-page ng-repeat="item in items">
        <div class="list card">
          <a class="item item-text-wrap header-card">
            <div class="header">
              <div class="title">
                <date-locale date="moment()"></date-locale>
              </div>
            </div>
            <div class="logo-desc">
              <p>{{'NOTE_ABOUT_RETAIL_PRICE' | translate}} {{tax}} {{'BAHT_LITRE' | translate}}</p>
              <p>{{'DATE_APPLY' | translate}} :
                <date-locale date="item.updatedAt"></date-locale>
              </p>
              <p>{{'PUBLISHED_BY' | translate}} : http://www.eppo.go.th</p>
              <img ng-src="{{serverUrl + item.nameEn.toLowerCase() + '.jpg'}}" fallback-src="{{'images/sourceLogo/' + item.nameEn.toLowerCase() + '.jpg'}}"
              />
            </div>
          </a>

          <a class="item item-text-wrap retail-price">
            <div>
              {{ 'GASOLINE_95' | translate }} <span style="color:blue">95</span>
            </div>
            <div>
              {{item.gasoline95 ? (item.gasoline95 | number:2) : '-' }}
            </div>
          </a>

          <a class="item item-text-wrap retail-price">
            <div>
              {{ 'GASOHOL_95' | translate }} <span style="color:red">95</span>
            </div>
            <div>
              {{item.gasohol95 ? (item.gasohol95 | number:2) : '-' }}
            </div>
          </a>

          <a class="item item-text-wrap retail-price">
            <div>
              {{ 'GASOHOL_91' | translate }} <span style="color:orange">91</span>
            </div>
            <div>
              {{item.gasohol91 ? (item.gasohol91 | number:2) : '-' }}
            </div>
          </a>
          <a class="item item-text-wrap retail-price">
            <div>
              {{ 'GASOHOL_E20' | translate }} <span style="color:green">E20</span>
            </div>
            <div>
              {{item.gasoholE20 ? (item.gasoholE20 | number:2) : '-' }}
            </div>
          </a>
          <a class="item item-text-wrap retail-price">
            <div>
              {{ 'GASOHOL_E85' | translate }} <span style="color:purple">E85</span>
            </div>
            <div>
              {{item.gasoholE85 ? (item.gasoholE85 | number:2) : '-' }}
            </div>
          </a>
          <a class="item item-text-wrap retail-price">
            <div>
              {{ 'DIESEL' | translate }}
            </div>
            <div>
              {{item.diesel ? (item.diesel | number:2) : '-' }}
            </div>
          </a>
          <a class="item item-text-wrap retail-price">
            <div>
              {{ 'PREMIUM_DIESEL' | translate }}
            </div>
            <div>
              {{item.premiumDiesel ? (item.premiumDiesel | number:2) : '-' }}
            </div>
          </a>

        </div>

      </ion-slide-page>
    </ion-slides>

  </ion-content>
</ion-view>