<ion-view class="retail-price-landscape">
	<ion-content ng-cloak scroll="true">
		<div class="row oil-header">
			<div class="col col-25">
				<div class="time">
					<date-locale date="moment().format('DD-MM-YYY HH:mm')"></date-locale>
				</div>
				<p class="desc">{{'NOTE_ABOUT_RETAIL_PRICE' | translate}} {{tax}} {{'BAHT_LITRE' | translate}}</p>
				<p class="desc">{{'PUBLISHED_BY' | translate}} : http://www.eppo.go.th</p>
			</div>
			<div class="col oil-logo" ng-repeat="icon in icons">
				<img style="width:30px;" ng-src="{{serverUrl + icon.nameEn.toLowerCase() + '.jpg'}}" fallback-src="{{'images/sourceLogo/' + icon.nameEn.toLowerCase() + '.jpg'}}"
				/>
			</div>
		</div>
		<div class="row body">
			<div class="col col-25">{{ 'GASOLINE_95' | translate }}
				<span style="color:blue">95</span>
			</div>
			<div class="col oil-price" ng-repeat="price in gasoline95.prices">{{price.p ? (price.p | number:2) : '-'}}</div>
		</div>
		<div class="row body">
			<div class="col col-25">{{ 'GASOHOL_95' | translate }}
				<span style="color:red">95</span>
			</div>
			<div class="col oil-price" ng-repeat="price in gasohol95.prices">{{price.p ? (price.p | number:2) : '-'}}</div>
		</div>
		<div class="row body">
			<div class="col col-25">{{ 'GASOHOL_91' | translate }}
				<span style="color:orange">91</span>
			</div>
			<div class="col oil-price" ng-repeat="price in gasohol91.prices">{{price.p ? (price.p | number:2) : '-'}}</div>
		</div>
		<div class="row body">
			<div class="col col-25">{{ 'GASOHOL_E20' | translate }}
				<span style="color:green">E20</span>
			</div>
			<div class="col oil-price" ng-repeat="price in gasoholE20.prices">{{price.p ? (price.p | number:2) : '-'}}</div>
		</div>
		<div class="row body">
			<div class="col col-25">{{ 'GASOHOL_E85' | translate }}
				<span style="color:purple">E85</span>
			</div>
			<div class="col oil-price" ng-repeat="price in gasoholE85.prices">{{price.p ? (price.p | number:2) : '-'}}</div>
		</div>
		<div class="row body">
			<div class="col col-25">{{ 'DIESEL' | translate }}</div>
			<div class="col oil-price" ng-repeat="price in diesel.prices">{{price.p ? (price.p | number:2) : '-'}}</div>
		</div>
		<div class="row body">
			<div class="col col-25">{{ 'PREMIUM_DIESEL' | translate }}</div>
			<div class="col oil-price" ng-repeat="price in premiumDiesel.prices">{{price.p ? (price.p | number:2) : '-'}}</div>
		</div>
	</ion-content>
</ion-view>