<ion-view can-swipe-back='false'>
  <ion-header-bar align-title="center" class="bar-positive">
    <a class="button icon-left ion-chevron-left button-clear icon-header-small" ng-click="goBack()"></a>
    <h1 class="title">{{ 'SETTINGS_C' | translate}}</h1>
  </ion-header-bar>
  <ion-content scroll="true" ng-cloak class="setting-content">
    <div class="divider">{{'LANGUAGES_U' | translate}}</div>
    <div class="list list-inset card selectLanguage">
      <ion-list>
        <div class="item">
          <ion-radio ng-model="language" ng-value="'th'" ng-click="selectLanguage('th')" name="language">
            <img class="img-flag" src="images/icons/icon-thai.png"/>{{ 'THAI_LANGUAGE_C' | translate}}
          </ion-radio>
        </div>
        <div class="item">
          <ion-radio ng-model="language" ng-value="'en'" ng-click="selectLanguage('en')" name="language">
            <img class="img-flag" src="images/icons/icon-en.png"/>{{ 'ENG_LANGUAGE_C' | translate}}
          </ion-radio>
        </div>
      </ion-list>
    </div>
    <div class="divider">{{'NOTIFICATION_U' | translate}}</div>
    <div class="list list-inset card">
      <div class="item item-toggle">
        {{ 'OIL_ANALYSIS_C' | translate}}
        <label class="toggle">
          <input type="checkbox" ng-model="analysis.checked" ng-click="updateNotification(analysis)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle">
        {{ 'BREAKING_NEWS_C' | translate}}
        <label class="toggle">
          <input type="checkbox" ng-model="breakingNews.checked" ng-click="updateNotification(breakingNews)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle">
        {{ 'NEWS_C' | translate}}
        <label class="toggle">
          <input type="checkbox" ng-model="news.checked" ng-click="updateNotification(news)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle">
        {{ 'CALENDAR_C' | translate}}
        <label class="toggle">
          <input type="checkbox" ng-model="economicCalendar.checked" ng-click="updateNotification(economicCalendar)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <!-- <div class="divider">IP ADDRESS</div>
    <div class="list list-inset card selectIP">
      <ion-list>
        <div class="item item-ip">
          <ion-radio ng-model="base.ip" ng-value="'localhost'" ng-click="selectIP('localhost')" name="ipaddress">
            LOCALHOST
          </ion-radio>
        </div>
        <div class="item item-ip">
          <ion-radio ng-model="base.ip" ng-value="'107.167.188.190'" ng-click="selectIP('107.167.188.190')" name="ipaddress">
            DEV-GCP: 107.167.188.190
          </ion-radio>
        </div>
        <div class="item item-ip">
          <ion-radio ng-model="base.ip" ng-value="'192.168.2.101'" ng-click="selectIP('192.168.2.101')" name="ipaddress">
            YANA: 192.168.2.101
          </ion-radio>
        </div>
        <div class="item item-ip">
          <ion-radio ng-model="base.ip" ng-value="newIp" ng-click="selectIP(newIp)" name="ipaddress">
            {{newIp ? newIp : 'xxx'}}
          </ion-radio>
        </div>
      </ion-list>
    </div>
    <input type="text" ng-model="newIp" style="padding: 20px; margin: 20px;" placeholder="192.x.x.x"> -->

    <!-- <div class="divider">{{'THAI_OIL_GROUP_LOGIN_U' | translate}}</div>
    <div class="list list-inset card">
      <div class="item item-icon-right">
        {{ 'LOGIN_C' | translate}}
        <i class="icon ion-chevron-right icon-header-small"></i>
      </div>
    </div> -->

  </ion-content>
</ion-view>
