<ion-view class="tutorial-page" ng-cloak>
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <div class="tutorial">
        <div class="logo">
          <img src="images/tutorial/icon-tutorial-1.png">
        </div>
        <div class="header">
          INSIGHT ABOUT OIL <br>
          IN ONE PLACE
        </div>
        <div class="mobile">
          <img src="images/tutorial/mobile-tutorial-1.png">
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tutorial">
        <div class="logo">
          <img src="images/tutorial/icon-tutorial-2.png">
        </div>
        <div class="header">
          UPDATE LATEST OIL <br>
          RETAIL PRICE
        </div>
        <div class="mobile">
          <img src="images/tutorial/mobile-tutorial-2.png">
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tutorial">
        <div class="logo">
          <img src="images/tutorial/icon-tutorial-3.png">
        </div>
        <div class="header">
          LOCATE PETROL <br>
          STATION NEARBY
        </div>
        <div class="mobile">
          <img src="images/tutorial/mobile-tutorial-3.png">
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tutorial">
        <div class="logo">
          <img src="images/tutorial/icon-tutorial-4.png" style="max-width: 8%;">
        </div>
        <div class="header">
          DAILY UPDATE OIL ANALYSIS<br>
          ARTICLE AND MORE
        </div>
        <div class="mobile">
          <img src="images/tutorial/mobile-tutorial-4.png">
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="tutorial">
        <div class="logo">
          <img src="images/tutorial/icon-tutorial-5.png">
        </div>
        <div class="header">
          READ POPULAR NEWS <br>
          FROM MANY SOURCES
        </div>
        <div class="mobile">
          <img src="images/tutorial/mobile-tutorial-5.png">
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
  <div class="skip">
    <span ng-click="continue()">{{'SKIP' | translate}}</span>
  </div>
</ion-view>
