<!--<ion-modal-view>-->
  <!--<ion-content ng-cloak scroll="false" class="welcomeModal">
    <button class="button button-icon icon ion-android-close icon-header-small" ng-click="closeModal()"></button>
    <img ng-src="{{welcomeUrl}}">
  </ion-content>-->
  <!--<ion-slide-box on-slide-changed="slideHasChanged($index)" options="options" slider="slider">
    <ion-slide ng-repeat="slide in slides track by $index">
      <div class="slide">
        <img ng-src="{{slide}}" class="slide-img">
      </div>
    </ion-slide>
  </ion-slide-box>-->
<ion-content class="welcomeModal">
  <button class="button button-icon icon ion-android-close icon-header-small" ng-click="closeModal()"></button>
  <ion-slides options="options" slider="slider">
    <ion-slide-page ng-repeat="slide in slides track by $index">
      <div class="slide">
        <img ng-src="{{serverUrl + slide.image}}" class="slide-img">
      </div>
    </ion-slide-page>
  </ion-slides>
</ion-content>
<!--</ion-modal-view>-->
