<ion-view style="height:{{Height}}px;">

  <div class="notification-bubble" ng-click="scrollTopAndRefresh()" ng-show="showBubble">New Data <i class="icon ion-arrow-up-c"></i></div>

  <ion-content scroll="true" ng-cloak>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()" ng-if="!loading"></ion-refresher>
    <p class="no-content" style="color: #93A8AC;" ng-show="noContent">{{ 'NO_CALANDER' | translate }}</p>
    <div class="loader" ng-show="loading"><ion-spinner></ion-spinner></div>

    <div class="list" ng-if="items.length > 0">
      <div class="item calendar-item" ng-repeat="item in items | filter: keyword">
          <div class="marketCard" ng-style="{'border-color':'rgba('+ item.country.color2.split(',')[0] + ',' + item.country.color2.split(',')[1] + ',' + item.country.color2.split(',')[2] + ',' + item.country.color2.split(',')[3] + ')'}">
          <div class="verticalStrip" ng-style="{'border-color':'rgba('+ item.country.color1.split(',')[0] + ',' + item.country.color1.split(',')[1] + ',' + item.country.color1.split(',')[2] + ',' + item.country.color1.split(',')[3] + ')'}"></div>
          <div class="row-header">
            <div class="title item-text-wrap index-name">
              <!--span class="textBlue">{{item.country }} </span-->
              <span class="date">{{item.publishDatetime.split(' ')[0] | date:'dd MMM'}}</span>
              <img class="flag" ng-src="{{baseUrl + item.country.flagImage}}" />
              <p>{{item.name}} <span ng-if="item.modifier">- {{item.modifier}}</span></p>
            </div>
          </div>
          <div class="row-detail">
            <span class="textGray">
              <!--i class="ion-clock icon"></i-->
              <!--span>{{ item.publishDatetime.split(' ')[0] | date: 'dd/MM/yyyy'}}</span-->
                <span class="textGray"> {{ 'PREVIOUS' | translate }}: <span class="textBlack">{{item.previous ? item.previous : ''}}</span> | {{'ACTUAL' | translate}}: <span class="textBlue text-bold">{{item.value ? item.value : ''}}</span></span>
            </span>
            <!--div>
              <span class="textGray"> {{ 'PREVIOUS' | translate }}: <span class="textBlack">{{item.previous ? item.previous : ''}}</span> | {{'ACTUAL' | translate}}: <span class="textBlue text-bold">{{item.value ? item.value : ''}}</span></span>
            </div-->
          </div>
        </div>
      </div>
      <div class="item-dummy" style="height:49px;"></div>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoad && !loading"></ion-infinite-scroll>
  </ion-content>
</ion-view>
