<!-- <ion-view style="height:{{Height}}px;">
  <ion-content scroll="true" ng-cloak overflow-scroll="false">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <p class="no-content" ng-if="noContent">{{ 'NO_CONTENT_U' | translate }}</p>
    <div class="loader" ng-if="loading"><ion-spinner></ion-spinner></div>
    <div class="list" ng-if="items.length > 0">
      <div class="item marketCard" ng-repeat="item in items | filter: keyword">
        <div class="marketCard">
          <div class="row-header">
            <div class="title">
              <p>{{item.name}} <span ng-if="item.modifier">- {{item.modifier}}</span></p>
            </div>
            <div>
              <p class="right value">{{item.value}}</p>
            </div>
          </div>
          <div class="row-detail">
            <span class="textGray">
              <i class="ion-clock icon"></i>  <span am-time-ago="item.publishDatetime"><i class="ion-clock icon textGray"></i></span>
             </span>
            <div>
              <span class="textGray"> {{ 'PREVIOUS' | translate }} {{item.previous + " |"}} </span>
              <span class="textBlue"> {{ 'FORECAST' | translate }} {{item.forecast}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoad"></ion-infinite-scroll>
  </ion-content>
</ion-view> -->
