    <ion-item class="item marketCard">
      <div class="marketCard">
        <div class="row">
          <div class="col col-75 title">
            <p>{{data.calendarType.name}} <span ng-if="data.modifier">- {{data.modifier}}</span></p>
          </div>
          <div class="col col-25">
            <p class="right"><i class="icon ion-arrow-up-c" ng-class="textGreen"></i>  {{data.value}}</p>
          </div>
        </div>
        <div class="row detail">
          <div class="col col-33">
            <span class="textGray">
              <i class="ion-clock icon"></i>  <span am-time-ago="data.publishDatetime"><i class="ion-clock icon textGray"></i></span>
             </span>
          </div>
          <div class="col col-67 right">
            <span ng-class="textGreen">{{data.change}}</span>
          </div>
        </div>
        <!-- <div class="col col-50">
          <h2>{{data.title}}</h2>
          <p><i class="ion-clock icon"></i> {{data.time}}</p>
        </div>
        <div class="col col-50 row right" >
          <h2><i class="icon ion-arrow-up-c" style="color:green"></i>  {{data.value}}</h2>
          <p>{{data.change}}</p>
        </div>
        <div class="col col-50 row right" ng-if="data.calendarType">
          <h2>{{data.value}}</h2>
          <p>{{data.change}}</p>
        </div> -->
      </div>
    </ion-item>
