<div class="card economic-calendar">
  <div class="item item-text-wrap">
    <div class="header">
      <div class="title stripe">
        {{title | translate}}
      </div>
    </div>
    <div class="detail">
      <div class="row">
        <div class="col-1" style="font-weight:bold">{{'INDEX_NAME' | translate}}</div>
        <div class="col-2" style="font-weight:bold">{{'PREVIOUS' | translate}}</div>
        <div class="col-2" style="font-weight:bold">{{'ANNOUNCEMENT' | translate}}</div>
        <div class="col-2" style="font-weight:bold">{{'FORECAST' | translate}}</div>
      </div>
      <div class="row" ng-repeat="item in items">
        <div class="col-1">{{item.name}}</div>
        <div class="col-2">{{item.previous}}</div>
        <div class="col-2">{{item.forecast}}</div>
        <div class="col-2">{{item.value}}</div>
      </div>
    </div>
  </div>
  <div class="item item-divider footer" ui-sref="tab.calendar">
    <i class="icon ion-arrow-right-c"></i> {{ 'READ_MORE' | translate }}
  </div>
</div>
