<div class="oil-direction-card">
  <div class="oil-type one">
    <div class="card sub-oil">
      <div class="oil-detail-title" style="color: red">{{'GASOHOL_95_N' | translate}}</div>
      <div class="oil-detail-subtitle">{{ptt.gasohol95 | number:2}}</div>
      <div class="oil-detail-status" ng-if="showDifferentPrice" ng-class="{'oil-detail-status color-red': ptt.differentGasohol95 < 0, 'oil-detail-status color-green': ptt.differentGasohol95 > 0}">{{ptt.differentGasohol95 > 0 ? '+' + ptt.differentGasohol95 : ptt.differentGasohol95}}</div>
    </div>
  </div>
  <div class="oil-type two">
    <div class="card sub-oil">
      <div class="oil-detail-title" style="color:orange">{{'GASOHOL_91_N' | translate}}</div>
      <div class="oil-detail-subtitle">{{ptt.gasohol91 | number:2}}</div>
      <div class="oil-detail-status" ng-if="showDifferentPrice" ng-class="{'oil-detail-status color-red': ptt.differentGasohol91 < 0, 'oil-detail-status color-green': ptt.differentGasohol91 > 0}">{{ptt.differentGasohol91 > 0 ? '+' + ptt.differentGasohol91 : ptt.differentGasohol91}}</div>
    </div>
  </div>
  <div class="oil-type three">
    <div class="card sub-oil">
      <div class="oil-detail-title" style="color:green">{{'GASOHOL_E20_N' | translate}}</div>
      <div class="oil-detail-subtitle">{{ptt.gasoholE20 | number:2}}</div>
      <div class="oil-detail-status" ng-if="showDifferentPrice" ng-class="{'oil-detail-status color-red': ptt.differentGasoholE20 < 0, 'oil-detail-status color-green': ptt.differentGasoholE20 > 0}">{{ptt.differentGasoholE20 > 0 ? '+' + ptt.differentGasoholE20 : ptt.differentGasoholE20}}</div>
    </div>
  </div>
  <div class="oil-type four">
    <div class="card sub-oil">
      <div class="oil-detail-title" style="color:#444">{{'DIESEL' | translate}}</div>
      <div class="oil-detail-subtitle">{{ptt.diesel | number:2}}</div>
      <div class="oil-detail-status" ng-if="showDifferentPrice" ng-class="{'oil-detail-status color-red': ptt.differentDiesel < 0, 'oil-detail-status color-green': ptt.differentDiesel > 0}">{{ptt.differentDiesel > 0 ? '+' + ptt.differentDiesel : ptt.differentDiesel}}</div>
    </div>
  </div>
  <div class="reference-text">
    <div>Reference: EPPO
      <span class="date">{{ptt.updatedAt | date:'dd MMM yy'}}</span>
    </div>
    <div>{{'PRICE' | translate}}: {{'BAHT_LITRE' | translate}}</div>
  </div>
</div>