<div class="cards-background-page">
  <div class="image-card item-image">
    <img class="full-image" ng-if="(tagName === 'DAILY' && !thumbnail)" ng-src="{{serverUrl + '/analysis/default/daily.png'}}" />
    <img class="full-image" ng-if="(tagName === 'WEEKLY' && !thumbnail)" ng-src="{{serverUrl + '/analysis/default/weekly.png'}}" />
    <img class="full-image" ng-if="(tagName === 'SPECIAL' && !thumbnail)" ng-src="{{serverUrl + '/analysis/default/special.png'}}" />
    <img class="full-image" ng-if="thumbnail" ng-src="{{serverUrl + '/analysis/default/daily.png'}}" + thumbnail}}" />
    <div class="overlay"></div>
    <div class="header">
      <div class="card-title">
        <div class="news-badge">
          <span class="badge">{{tagName}}</span>
          <span class="title-date news-date" ng-class="{'stripe':stripe}" ng-if="!stripe"><date-locale date="title"></date-locale></span>
        </div>
      </div>
      <div class="card-subtitle">
        <div class="news-badge">
          <div class="header-footer">
            <div class="news-detail">{{content}}</div>
            <audio-player title="titlePlayer" class="audio-player" ng-if="soundPath" audio="soundPath"></audio-player>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>