<div class="bar bar-header bar-positive searchHeader" ng-if="!showSearchBar" ng-cloak>
  <button class="button button-icon icon ion-chevron-left icon-header-small" ng-click="goBack()" ng-if="canBack"></button>
  <h1 class="title">{{ title | translate}} <span ng-if="server.name !== 'PRD'">({{server.name}})<span></h1>
  <div class="buttons button-clear">
    <button class="button button-icon icon ion-ios-search icon-header-small" ng-if="canSearch" ng-click="searchActive();"></button>
    <!-- <button class="button button-icon icon iconGasStation icon-header-small" ng-if="map" ng-click="openMap()"></button> -->
    <button class="button button-icon icon ion-ios-settings-strong icon-header-small" ng-if="filter" ng-click="showModal()"></button>
  </div>
  <div class="connection-status-bar" ng-class="{'slide-in':offline, 'slide-out':!offline}" style="top:{{internetStyleTop}}px;" ng-show="offline">{{ 'NO_INTERNET' | translate}}</div>
</div>
<div class="bar bar-header item-input-inset analysis-page bar-positive" ng-if="showSearchBar" ng-cloak>
  <div class="item-input-wrapper search-box">
    <form ng-submit="searchEnter()" style="flex: 1">
      <input type="search" placeholder="Search" ng-model="search.keyword" id="input-text-search" focus-me>
    </form>
    <button ng-click="clearSearch();$event.stopPropagation();" class="button button-clear ion-android-close input-button button-small search-clear-button" ng-show="search.keyword.length">
    </button>
  </div>
  <button class="button button-clear" ng-click="cancel();$event.stopPropagation();">
    {{'CANCEL_C' | translate}}
  </button>
</div>