<div class="single-card">
  <div class="header" ng-if="title">
    <div class="title">{{title | translate}}</div>
  </div>
  <div class="card">
    <div class="item item-text-wrap">
      <div class="detail" ng-bind-html="trust(content)"></div>
      <div class="footer">
        <div class="timeago" am-time-ago="timeago"></div>
      </div>
    </div>
  </div>
</div>