<!-- <ion-slide-box class="special-gift-slide-box">
    <ion-slide>
        <div class="special-gift-image" style="background-image:url('images/img/food-dinner-pasta-spaghetti-8500.jpg'); 
        background-size:contain; background-repeat: no-repeat; background-position: center;"></div>
    </ion-slide>
    <ion-slide>
        <div class="special-gift-image" style="background-image:url('images/img/food-dinner-pasta-spaghetti-8500.jpg'); 
        background-size:contain; background-repeat: no-repeat; background-position: center;"></div>
    </ion-slide>
    <ion-slide>
        <div class="special-gift-image" style="background-image:url('images/img/food-dinner-pasta-spaghetti-8500.jpg'); 
        background-size:contain; background-repeat: no-repeat; background-position: center;"></div>
    </ion-slide>
    </ion-slides>
</ion-slide-box> -->
<!-- <div class="special-gift-image" style="background-image:url('images/img/food-dinner-pasta-spaghetti-8500.jpg'); 
background-size:contain; background-repeat: no-repeat; background-position: center;"></div>
<div class="special-gift-image" style="background-image:url('images/img/food-dinner-pasta-spaghetti-8500.jpg'); 
background-size:contain; background-repeat: no-repeat; background-position: center;"></div>
<div class="special-gift-image" style="background-image:url('images/img/food-dinner-pasta-spaghetti-8500.jpg'); 
background-size:contain; background-repeat: no-repeat; background-position: center;"></div> -->

<div ng-repeat="thumbnail in data">
    <img class="full-image" ng-src="{{serverUrl + thumbnail.thumbnailPath}}" ui-sref="tab.promotionDetail({itemId:
    thumbnail.id, item: thumbnail, resource: 'promotions', title: 'PROMOTION_U'})" ng-if="thumbnail.thumbnailPath" />
    <img class="full-image" ng-src="{{serverUrl + thumbnail.headerThumbnailPath}}" ui-sref="tab.promotionDetail({itemId: thumbnail.id, item: thumbnail, resource: 'promotions', title: 'PROMOTION_U'})"
        ng-if="!thumbnail.thumbnailPath" />
</div>