<div class="triple-card ng-class:[customClass];">
    <div class="big" ng-if="item1 && !homeMenu" ui-sref="tab.analysisDetail({itemId: item1.id, resource: resource1,item: item1, homeMenu: false})">
        <div class="sub-big">
            <img ng-if="!item1.thumbnailPath" class="image" ng-src="{{defaultImage1}}" loading-src="images/img/daily.png" fallback-src="images/img/daily.png">
            <img ng-if="item1.thumbnailPath" class="image" ng-src="{{serverUrl + item1.thumbnailPath}}" loading-src="{{defaultImage1}}" fallback-src="{{defaultImage1}}">
            <div class="overlay"></div>
            <div class="header">
                <div class="sub-header">
                    <div class="type">{{resource1 === "analyses" ? "DAILY" : resource1 === "weeklyAnalyses" ? "WEEKLY" : "SPECIAL" | translate}}</div>
                    <div><span class="date"><date-locale short="true" date="item1.publishDatetime"></date-locale></span></div>
                </div>
            </div>
            <div class="footer">
                <div class="sub-footer">
                    <div class="summary">
                        {{item1.name}}
                    </div>
                    <audio-player title="titlePlayer1" ng-if="item1.soundPath" audio="item1.soundPath"></audio-player>
                </div>
            </div>
        </div>
    </div>
    <div class="big" ng-if="item1 && homeMenu" ui-sref="tab.homeAnalysisDetail({itemId: item1.id, resource: resource1,item: item1, homeMenu: true})">
        <div class="sub-big">
            <img ng-if="!item1.thumbnailPath" class="image" ng-src="{{defaultImage1}}" loading-src="images/img/daily.png" fallback-src="images/img/daily.png">
            <img ng-if="item1.thumbnailPath" class="image" ng-src="{{serverUrl + item1.thumbnailPath}}" loading-src="{{defaultImage1}}" fallback-src="{{defaultImage1}}">
            <div class="overlay"></div>
            <div class="header">
                <div class="sub-header">
                    <div class="type">{{resource1 === "analyses" ? "DAILY" : resource1 === "weeklyAnalyses" ? "WEEKLY" : "SPECIAL" | translate}}</div>
                    <div><span class="date"><date-locale short="true" date="item1.publishDatetime"></date-locale></span></div>
                </div>
            </div>
            <div class="footer">
                <div class="sub-footer">
                    <div class="summary">
                        {{item1.name}}
                    </div>
                    <audio-player title="titlePlayer1" ng-if="item1.soundPath" audio="item1.soundPath"></audio-player>
                </div>
            </div>
        </div>
    </div>
    <div class="big half" ng-if="item2 || item3">
        <div class="half-left" ng-if="item2" ui-sref="tab.homeAnalysisDetail({itemId: item2.id, resource: resource2, item: item2, homeMenu: true})">
            <img ng-if="!item2.thumbnailPath" class="image" ng-src="{{defaultImage2}}" loading-src="images/img/daily.png" fallback-src="images/img/daily.png">
            <img ng-if="item2.thumbnailPath" class="image" ng-src="{{serverUrl + item2.thumbnailPath}}" loading-src="{{defaultImage2}}" fallback-src="{{defaultImage2}}">
            <div class="overlay"></div>
            <div class="header">
                <div class="sub-header">
                    <div class="type">{{resource2 === "analyses" ? "DAILY" : resource2 === "weeklyAnalyses" ? "WEEKLY" : "SPECIAL" | translate}}</div>
                    <div><span class="date"><date-locale short="true" date="item2.publishDatetime"></date-locale></span></div>
                </div>
            </div>
            <div class="footer">
                <div class="sub-footer">
                    <div class="summary">{{item2.name}}</div>
                    <audio-player title="titlePlayer2" ng-if="item2.soundPath" audio="item2.soundPath"></audio-player>
                </div>
            </div>
        </div>
        <div class="half-right" ng-if="item3" ui-sref="tab.homeAnalysisDetail({itemId: item3.id, resource: resource3, item: item3, homeMenu: true})">
            <img ng-if="!item3.thumbnailPath" class="image" ng-src="{{defaultImage3}}" loading-src="images/img/daily.png" fallback-src="images/img/daily.png">
            <img ng-if="item3.thumbnailPath" class="image" ng-src="{{serverUrl + item3.thumbnailPath}}" loading-src="{{defaultImage3}}" fallback-src="{{defaultImage3}}">
            <div class="overlay"></div>
            <div class="header">
                <div class="sub-header">
                    <div class="type">{{resource3 === "analyses" ? "DAILY" : resource3 === "weeklyAnalyses" ? "WEEKLY" : "SPECIAL" | translate}}</div>
                    <div><span class="date"><date-locale short="true" date="item3.publishDatetime"></date-locale></span></div>
                </div>
            </div>
            <div class="footer">
                <div class="sub-footer">
                    <div class="summary">{{item3.name}}</div>
                    <audio-player title="titlePlayer3" ng-if="item3.soundPath" audio="item3.soundPath"></audio-player>
                </div>
            </div>
        </div>
    </div>
    <div class="big" ng-if="item4 && homeMenu" ui-sref="tab.homeAnalysisDetail({itemId: item4.id, resource: resource4,item: item4, homeMenu: true})">
        <img ng-if="!item4.thumbnailPath" class="image" ng-src="{{defaultImage4}}" fallback-src="images/img/daily.png">
        <img ng-if="item4.thumbnailPath" class="image" ng-src="{{serverUrl + item4.thumbnailPath}}" fallback-src="{{defaultImage4}}">
        <div class="overlay"></div>
        <div class="header">
            <div class="sub-header">
                <div class="type">{{resource4 === "analyses" ? "DAILY" : resource4 === "weeklyAnalyses" ? "WEEKLY" : "SPECIAL" | translate}}</div>
                <div><span class="date"><date-locale short="true" date="item4.publishDatetime"></date-locale></span></div>
            </div>
        </div>
        <div class="footer">
            <div class="sub-footer">
                <div class="summary">{{item4.name}}</div>
                <audio-player title="titlePlayer4" ng-if="item4.soundPath" audio="item4.soundPath"></audio-player>
            </div>
        </div>
    </div>
</div>

<!-- <div class="triple-card" ng-show="!photoReady && !homeMenu">
    <div class="big">
        <div class="mock"></div>
        <div class="sub-big">
            <div class="header">
                <div class="sub-header">
                    
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="triple-card" ng-show="!photoReady && homeMenu">
    <div class="big">
        <div class="mock"></div>
        <div class="sub-big">
            <div class="header">
                <div class="sub-header">
                </div>
            </div>
        </div>
    </div>
    <div class="big half">
        <div class="half-left">
            <div class="mock"></div>
            <div class="header">
                <div class="sub-header">
                </div>
            </div>
        </div>
        <div class="half-right">
            <div class="mock"></div>
            <div class="header">
                <div class="sub-header">
                </div>
            </div>
        </div>
    </div>
</div>   -->