.gallery-view {
	.image-container {
		position: relative;
		overflow: hidden;
		border: 2px solid white;
		img {
			position: absolute;
			top: -9999px;
			bottom: -9999px;
			left: -9999px;
			right: -9999px;
			margin: auto;
		}
	}
}
.imageView {
	.has-no-header {
		top: 0px !important;
	}
	.close-btn {
		font-weight: 900;
		border: 2px solid;
		position: absolute;
		right: 5px;
		border-radius: 5px;
	}
	.headerView {
		background-image: none;
		background-color: black;
	}
	.gallery-slide-view {
		width: 98%;
		background-color: transparent;
	}
	.image-subtitle {
		color: white;
		position: absolute;
		bottom: 0px;
		left: 10px;
		width: 95%;
		height: 15%;
		z-index: 100;
	}
	.listContainer {
		width: 100%;
		height: 100%;
		background-color: black;
	}
	.hideAll {
		display: none;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	.scroll-view {
		position: absolute;
		width: 100%;
		height: 100%;
		.scroll {
			min-height: 100%;
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		  display: -ms-flexbox;      /* TWEENER - IE 10 */
		  display: -webkit-flex;     /* NEW - Chrome */
		  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			-webkit-box-direction: normal;
			-moz-box-direction: normal;
			-webkit-box-orient: horizontal;
			-moz-box-orient: horizontal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-box-pack: center;
			-moz-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-align-content: stretch;
			-ms-flex-line-pack: stretch;
			align-content: stretch;
			-webkit-box-align: center;
			-moz-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}
}
