//$slidingTabsHeight: 45px;
$slidingTabsHeight: 45px;
ion-slide {
  background-color: #f0f0f0;
  &:nth-child(2n) {
    background-color: #fff;
  }
}
.slider {
  height: 100%;
}
.slidingTabs {
  height: $slidingTabsHeight;
  box-shadow: 0 1px 1px #aaaaaa;
  z-index: 10;
  background-color: $backgroundTab;
  .scroll {
    height: auto;
    min-width: 100%;
  }
  ul {
    background-color: $backgroundTab;
    height: $slidingTabsHeight;
    li {
      height: $slidingTabsHeight;
      line-height: $slidingTabsHeight;
      text-align: center;
      float : left;
      margin: 0;
      padding: 0 10px 20px;
      font-size: 13px;
      color: $colorTextTab;
      @include transition(color .25s ease-in-out);
      position: relative;
      overflow: hidden;
      &.tab-active {
        color: $colorActiveTab;
        font-weight: 700;
      }
      .ink {
        display: block;
        position: absolute;
        background: rgba(56, 147, 245,.8);
        border-radius: 100%;
        transform: scale(0);
      }
      .ink.animate {
        @include animation(ripple 0.65s linear);
      }
    }
  }
  .tab-indicator-wrapper {
    width: 100%;
    height: 4px;
    margin-top: -2px;
    background-color: rgba(255,255,255,.2);
    -webkit-transform: translateY(-2px);
    position: absolute;
    .tab-indicator {
      height: 100%;
      background-color: $colorActiveTab;
      width: 70px;
      position: relative;
    }
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
.slidingTabContent {
  height: 100vh;
}
