.tabbed-slidebox {
	.slider {
		height: 100%;
	}
	.slider-slides {
		width: 100%;
	}
	.slider-slide {
		padding-top: 0;
		color: #000;
		background-color: #fff;
		text-align: center;
		font-weight: 300;
		// background-color: #0398dc;
	}
	.tsb-icons {
		text-align: center;
		margin-bottom: 2px;
		position: relative;
		background-color: #fff;
		box-shadow: 0px 3px 3px $backgroundGrey;
		a {
			display: inline-block;
			font-weight: 900;
			// width: 54px;
			// font-size: 1.3em;
			color: rgba(0, 0, 0, 0.3);
			// -webkit-transform: translate3d(0,8px,0);
			text-decoration: inherit;
		}
		a.active {
			// color: rgba(0, 0, 0, 1);
			color: #e91b79;
			font-weight: 900;
			// font-size: 3.5em;
			// -webkit-transform: translate3d(0,0,0);
		}
		.tabActiveCss {
			border-bottom: 4px solid #e91b79;
		};
		// &:after {
		// 	width: 0;
		// 	height: 0;
		// 	border-style: solid;
		// 	border-width: 0 1.4em 1.4em 1.4em;
		// 	border-color: transparent transparent #0398dc transparent;
		// 	position: absolute;
		// 	content: "";
		// 	display: block;
		// 	bottom: -12px;
		// 	left: 50%;
		// 	margin-left: -14px;
		// }
		.scroll {
			a {
				width: auto;
				font-size: 1.5em;
				line-height: 1.5em;
				text-decoration: none;
				margin: 0 15px;
				border-bottom: 3px solid transparent;
			}
			a.active {
				font-size: 1.8em;
				border-bottom: 3px solid #ccc;
			}
		}
	}
	.tsb-ic-wrp {
		display: initial;
		position: relative;
		// -webkit-transition: -webkit-transform 0.3s;
		// -webkit-transform: translate3d(0,0,0);
		.row {
			padding: 0;
			.col {
				padding: 10px 0px;
			}
		}
	}
	.tabbed-slidebox {
		position: relative;
		height: 100%;
		overflow: hidden;
	}
}
.tabbed-slidebox.btm {
	.slider {
		margin-bottom: -50px;
	}
}
.tsb-hscroll.scroll-view {
	white-space: nowrap;
	margin: 0 auto;
	.scroll-bar {
		visibility: hidden;
	}
	.scroll.onscroll {
		-webkit-transition: -webkit-transform 0.3s;
	}
}
