<ion-view style="height:{{Height-20}}px;">

  <div class="notification-bubble" ng-click="scrollTopAndRefresh()" ng-show="showBubble">New Data <i class="icon ion-arrow-up-c"></i></div>

  <ion-content scroll="true">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()" ng-show="!loading"></ion-refresher>
    <div class="loader" ng-if="loading"><ion-spinner></ion-spinner></div>
    <p class="no-content" ng-show="noContent">{{ 'NO_CONTENT_U' | translate }}</p>
    
    <!-- <div ng-repeat="item in items">

      <img class="full-image" ng-if="item.thumbnailPath" ng-src="{{baseUrl + item.thumbnailPath}}" fallback-src="https://www.w3schools.com/css/img_fjords.jpg"
      />

      <img class="full-image" ng-if="!item.thumbnailPath" ng-src="https://www.w3schools.com/css/img_fjords.jpg" />
    </div> -->
    <div class="card-promotion" ng-repeat="item in items" ui-sref="tab.promotionDetail({itemId: item.id, item: item, resource: 'promotions', title: 'PROMOTION_U'})">
      <div class="image-card item-image">
        <img ng-if="!item.thumbnailPath && !item.headerThumbnailPath" class="news-image-small" ng-src="images/dummy.png" />
        <img ng-if="!item.thumbnailPath" class="news-image-small" ng-src="{{baseUrl + item.headerThumbnailPath}}" />
        <img ng-if="item.thumbnailPath" class="news-image-small" ng-src="{{baseUrl + item.thumbnailPath}}" />
        <div class="description-box">
          <div class="name"> {{item.promotionName}}</div>
          <!-- <div class="name">{{item.startDate}} - {{item.expireDate}}</div> -->
          <!-- <div class="name">{{item.startDate | amDateFormat:'DD MMM YYYY'}} - {{item.expireDate | amDateFormat:'DD MMM YYYY'}}</div> -->
        </div>
      </div>
    </div>


    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoad && !loading"></ion-infinite-scroll>
  </ion-content>
</ion-view>