<!-- <ion-view style="height:{{Height}}px;">
  <ion-content scroll="true" ng-cloak>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <p class="no-content" ng-if="noContent">{{ 'NO_CONTENT_U' | translate }}</p>
    <div class="loader" ng-if="loading"><ion-spinner></ion-spinner></div>

    <single-card stripe="false" title="item.publishDatetime" content="item.content" timeago="item.publishDatetime" ng-repeat="item in items | filter: keyword"></single-card>

    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoad"></ion-infinite-scroll>
  </ion-content>
</ion-view> -->
