<div class="item item-text-wrap news-card" ng-class="{'big':big}">
  <div class="header" ng-if="title">
    <div class="title stripe">
      <span>{{title | translate}}</span>
    </div>
  </div>
  <div class="detail">
    <div class="left">
      <div class="text-holder">
        {{data.name}}
        <br>
        <span class="summary" ng-if="!big">{{data.summary}}</span>
      </div>
      <div class="footer">
        <div class="news-source">
          <img ng-src="{{baseUrl + data.newsSourceLogoPath}}" ng-if="data.newsSourceLogoPath !== null" height="20px" />
          <span ng-if="data.newsSourceLogoPath == null">{{data.newsSourceName}}</span>
          <!-- <img src="{{'images/icons/logo-blue-2x.png'}}" ng-if="data.newsSourceLogoPath === null" height="20px" /> -->
        </div>
        <div>
          <div class="timeago" am-time-ago="data.publishDatetime">
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="right" ng-if="data.ogImage" ng-style="{'background-image': 'url(' + data.ogImage + ')'}"> -->
    <div class="right" ng-if="data.ogImage">
      <img ng-if="data.ogImage && !data.thumbnailPath" class="news-image-small" ng-src="{{data.ogImage}}" fallback-src="{{redirectImage(item)}}"
      />
      <img ng-if="!data.ogImage && data.thumbnailPath" class="news-image-small" ng-src="{{baseUrl + data.thumbnailPath}}" fallback-src="images/img/no_image300x300.png"
      />
    </div>
  </div>
</div>