<ion-view style="height:{{Height}}px;">

  <!-- <div class="notification-bubble" go-to-top ng-show="showBubble">New Data <i class="icon ion-arrow-up-c"></i></div> -->
  <div class="notification-bubble" ng-click="scrollTopAndRefresh()" ng-show="showBubble">New Data <i class="icon ion-arrow-up-c"></i></div>

  <ion-content scroll="true" ng-cloak overflow-scroll="false">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()" ng-if="!loading"></ion-refresher>

    <div class="loader" ng-if="loading">
      <ion-spinner></ion-spinner>
    </div>

    <!-- <div class="single-card card" ng-if="breakingNewsToday && hasBreakingNews" style="margin: 10px 0 10px;">
      <div class="item item-text-wrap">
        <div class="header">
          <div class="title">
            <span>{{'BREAKING_NEWS_U' | translate}}</span>
          </div>
        </div>
        <div class="detail" ng-bind-html="breakingNews.content">
        </div>
        <div class="footer">
          <div class="timeago" am-time-ago="breakingNews.publishDatetime">
          </div>
        </div>
      </div>
    </div> -->

    <div class="list" ng-if="breakingNewsToday && hasBreakingNews">
      <div class="single-card">
        <div class="item item-text-wrap" style="background-color: #ED1A79; color:#FFF">
          <span>{{'BREAKING_NEWS_U' | translate}}</span>
          <div class="detail" ng-bind-html="breakingNews.content"></div>
        </div>
      </div>
    </div>

    <p class="no-content" ng-if="noContent">{{ 'NO_CONTENT_U' | translate }}</p>

    <div class="list bg-white marginTop20" ng-if="items.length > 0">
      <!-- BIG NEWS CARD -->
      <div class="news-big-card" ui-sref="tab.newsDetail({itemId: items[0].id, item: items[0], resource: resource, title: title})"
        ng-show="(keyword !== '' && items[0].name.toLowerCase().search(keyword.toLowerCase()) !== -1) || keyword === ''">
        <div class="image-card item-image">
          <img ng-if="items[0].ogImage && !items[0].thumbnailPath" class="news-image" ng-src="{{items[0].ogImage}}" fallback-src="images/img/no_image300x300.png">
          <img ng-if="items[0].thumbnailPath && !items[0].ogImage" class="news-image" ng-src="{{baseUrl + items[0].thumbnailPath}}" fallback-src="images/img/no_image300x300.png">
          <img ng-if="!items[0].thumbnailPath && !items[0].ogImage" class="news-image" ng-src="{{'images/splashscreen.png'}}" fallback-src="images/img/no_image300x300.png">
          <div class="description-box">
            <div class="name">{{items[0].name}}</div>
          </div>
        </div>
      </div>
      <!-- NEWS CARD -->
      <div class="news-card-list">
        <div class="item item-text-wrap news-card flex50" ng-if="$index > 0 && $index < 7" ng-repeat="item in items | filter: keyword"
          item-width="101%" item-height="139" ui-sref="tab.newsDetail({itemId: item.id, item: item, resource: resource, title: title})">
          <!--<div class="row" style="padding: 0;">-->
          <!--Coloum 1-->
          <div class="col">
            <!-- <div ng-if="item.ogImage && !item.thumbnailPath" class="news-image-small" ng-style="{'background-image': 'url(' + item.ogImage + ')'}"></div>
                <div ng-if="!item.ogImage && item.thumbnailPath" class="news-image-small" ng-style="{'background-image': 'url(' + baseUrl + item.thumbnailPath + ')'}"></div> -->
            <!-- <img ng-if="item.ogImage && !item.thumbnailPath" class="news-image-small" ng-src="{{item.ogImage}}" fallback-src="images/img/no_image300x300.png"
            />
            <img ng-if="!item.ogImage && item.thumbnailPath" class="news-image-small" ng-src="{{baseUrl + item.thumbnailPath}}" fallback-src="images/img/no_image300x300.png"
            /> -->
             <img ng-if="item.ogImage && !item.thumbnailPath" class="news-image-small" ng-src="{{item.ogImage}}" fallback-src="images/img/no_image300x300.png"
            />
            <img ng-if="!item.ogImage && item.thumbnailPath" class="news-image-small" ng-src="{{baseUrl + item.thumbnailPath}}" fallback-src="images/img/no_image300x300.png"
            />
            <div class="description">
              <div class="name highlight">
                {{item.name}}
              </div>
              <div class="footer footer-hightlight-news">
                <img ng-if="item.newsSourceLogoPath !== null && item.newsSourceName !== null" ng-src="{{baseUrl + item.newsSourceLogoPath}}"
                />
                <span ng-if="item.newsSourceLogoPath == null  && item.newsSourceName !== null">{{item.newsSourceName}}</span>
                <img ng-if="item.newsSourceLogoPath === null && item.newsSourceName === null" src="{{baseUrl + '/thaioil/logo.png'}}" />
                <div class="timeago">
                  <div class="timeago" am-time-ago="item.publishDatetime">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--SPECIAL GIFT-->
      <!--<div class="header">
        <div class="title">SPECIAL GIFT</div>
      </div>
      <special-gift-carousel></special-gift-carousel>-->

      <div class="news-card-list">
        <div class="item-text-wrap news-card" ng-if="$index >= 7" ng-repeat="item in items | filter: keyword" item-width="101%" item-height="139"
          ui-sref="tab.newsDetail({itemId: item.id, item: item, resource: resource, title: title})">
          <!--<div class="row" style="padding: 0;">-->
          <!--Coloum 1-->
          <div class="col">
            <!-- <div ng-if="item.ogImage && !item.thumbnailPath" class="news-image-small" ng-style="{'background-image': 'url(' + item.ogImage + ')'}"></div>
                <div ng-if="!item.ogImage && item.thumbnailPath" class="news-image-small" ng-style="{'background-image': 'url(' + baseUrl + item.thumbnailPath + ')'}"></div> -->
            <img ng-if="item.ogImage && !item.thumbnailPath" class="news-image-small" ng-src="{{item.ogImage}}" fallback-src="images/img/no_image300x300.png"
            />
            <img ng-if="!item.ogImage && item.thumbnailPath" class="news-image-small" ng-src="{{baseUrl + item.thumbnailPath}}" fallback-src="images/img/no_image300x300.png"
            />
            <div class="description">
              <div class="name highlight">
                {{item.name}}
              </div>
              <div class="footer footer-hightlight-news">
                <img ng-if="item.newsSourceLogoPath !== null && item.newsSourceName !== null" ng-src="{{baseUrl + item.newsSourceLogoPath}}"
                />
                <span ng-if="item.newsSourceLogoPath == null  && item.newsSourceName !== null">{{item.newsSourceName}}</span>
                <img ng-if="item.newsSourceLogoPath === null && item.newsSourceName === null" src="{{baseUrl + '/thaioil/logo.png'}}" />
                <div class="timeago">
                  <div class="timeago" am-time-ago="item.publishDatetime">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="canLoad && !loading"></ion-infinite-scroll>
  </ion-content>
</ion-view>