<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">
  <div id="audio-player-section" ng-show="audioSrc">
    <i class="icon ion-play" ng-click="play()" ng-if="!playing"></i>
    <i class="icon ion-pause" ng-click="pause()" ng-if="playing"></i>
    <div class="audio-title">{{audioTitle}}</div>
    <i class="icon ion-close" ng-click="stop()"></i>
  </div>
  <ion-tab title="{{'HOME_C' | translate}}" icon-off="home" icon-on="homeActive" ng-click="selectTab('tab.home','/tab/home')"
            badge="calendarCount + breakingNewsCount"  badge-style="badge-assertive">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'NEWS_C' | translate}}" icon-off="news" icon-on="newsActive" ng-click="selectTab('tab.news','/tab/news')"
            badge="newsCount" badge-style="badge-assertive">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'ANALYSIS_C' | translate}}" icon-off="analysis" icon-on="analysisActive" ng-click="selectTab('tab.analysis','/tab/analyses')"
            badge="analysisCount + weeklyAnalysisCount + specialAnalysisCount" badge-style="badge-assertive">
    <ion-nav-view name="tab-analysis"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'STATIONS_C' | translate}}" icon-off="petrol" icon-on="petrolActive" ui-sref="tab.map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'MORE_C' | translate}}" icon-off="more" icon-on="moreActive" ui-sref="tab.more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>

</ion-tabs>
